<block name="headerCss">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/bootstrap-datetimepicker.min.css">
</block>
<div class="box box-warning">
    <div class="box-header with-border">
        <div class="box-title">
            <ul class="choose_ul">

                <li><a class="{:xeq(I('get.group_id',1),1,'btn btn-warning btn-xs')}" href="{:U('goods/index',array('group_id' => 1 ))}" >所有商品</a></li>
                <li><a class="{:xeq(I('get.group_id'),2,'btn btn-warning btn-xs')}" href="{:U('goods/index',array('group_id' => 2 ))}">新上传</a></li>
                <li><a class="{:xeq(I('get.group_id'),3,'btn btn-warning btn-xs')}" href="{:U('goods/index',array('group_id' => 3 ))}">已下架</a></li>
                <li><a class="{:xeq(I('get.group_id'),4,'btn btn-warning btn-xs')}" href="{:U('goods/index',array('group_id' => 4 ))}">已上架</a></li>
                <li><a class="{:xeq(I('get.group_id'),5,'btn btn-warning btn-xs')}" href="{:U('goods/index',array('group_id' => 5 ))}">待审核</a></li>
                <li><a class="{:xeq(I('get.group_id'),6,'btn btn-warning btn-xs')}" href="{:U('goods/index',array('group_id' => 6 ))}">未通过</a></li>
            </ul>
        </div>
        <div class="box-tools pull-left"> </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row" >
            <form class="form-inline" method="get" action="{:U('goods/index',$mp)}" id="searchForm">
                <div class="form-group">
                    <label for="exampleInputName2">仓库名称:</label>
                    <select class="form-control input-xs" name="depot">
                        <option value="">选择仓库</option>
                        <volist name='depot' id='vo'>
                            <option {:xeq(I('get.depot'),$vo['id'],'selected')} value="{$vo.id}">{$vo.depot_name}</option>
                        </volist>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">商品类目:</label>
                    <select class="form-control input-xs" name="goods_category">
                        <option value="0">主类目</option>
                        <volist name="goods_category" id="vo">
                            <option {:xeq(I('get.goods_category'),$vo['cid'],'selected')} value="{$vo.cid}">{$vo.name}</option>
                        </volist>	
                    </select>
                </div>

                <php> if( 1 == I('get.group_id',1) ){  </php>
                <div class="form-group ">
                    <label for="exampleInputName2">商品状态:</label>
                    <select name="goods_status" class="form-control input-xs">
                        <option value="">全部</option>
                        <option {:xeq(I('get.goods_status'),2,'selected')} value="2">新上传</option>
                        <option {:xeq(I('get.goods_status'),3,'selected')} value="3">已下架</option>
                        <option {:xeq(I('get.goods_status'),4,'selected')} value="4">已上架</option>
                        <option {:xeq(I('get.goods_status'),5,'selected')} value="5">待审核</option>
                        <option {:xeq(I('get.goods_status'),6,'selected')} value="6">未通过</option>
                    </select>
                </div>
                <php>}</php>

                <div class="row">
                    <div class="form-group">
                        <select class="form-control input-xs" name="time_type">
                            <switch name="Think.get.group_id" >
                            <case value="2">
                                <option {:xeq(I('get.time_type'),'addtime','selected')} value="addtime">上传时间</option>
                            </case>
                            <default />
                            <option {:xeq(I('get.time_type'),'sale_time','selected')} value="sale_time">上架时间</option>
                            <option {:xeq(I('get.time_type'),'addtime','selected')} value="addtime">上传时间</option>
                            </switch>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-xs" value="{:I('get.startTime')}" placeholder='开始时间' id="startTime" name="startTime">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-xs" value="{:I('get.endTime')}" id="endTime" name="endTime" placeholder='结束时间'>
                    </div>
                    <div class="form-group">
                        <select class="form-control input-xs" name="goods_search" >
                            <option value="">选择搜索内容</option>
                            <option {:xeq(I('get.goods_search'),'goods_name','selected')} value="goods_name">商品名称</option>
                            <option {:xeq(I('get.goods_search'),'goods_no','selected')} value="goods_no">商品ID</option>
                            <option {:xeq(I('get.goods_search'),'buyer_goods_no','selected')} value="buyer_goods_no">商家编码</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="search_word" value="{:I('get.search_word')}" class="form-control input-xs" {:xeq(I('get.goods_search'),'','disabled')}  placeholder="输入商品名称或者货号" >
                    </div>
                    <div class="form-group btnBox">
                        <input type="submit" class="btn btn-block btn-warning btn-xs" value="搜索">
                        <input type="hidden" name="allData" value="0" />
                        <input type="hidden" class="explode_goods_input" name="explodeGoods[]" value="0" />
                        <input type="hidden" name="explode_goods" value="0" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            <div>
                <form class="form-inline" id="sortForm" action="{:U(ACTION_NAME, I('get.'))}" method="get">
                    <php> if( 1 == getPower('sort_'.I('get.group_id',1)) ) { </php>
                    <select class="form-control input-xs sort" name="sort">
                        <option value="">商品排序</option>
                        <option {:xeq(I('get.sort'), 'addtime~asc,goods_id~asc', 'selected')}  value="addtime~asc,goods_id~asc">上传时间升序</option>
                        <option {:xeq(I('get.sort'), 'addtime~desc,goods_id~desc', 'selected')} value="addtime~desc,goods_id~desc">上传时间降序</option>
                        <switch name="Think.get.group_id" >
                        <case value="3">
                            <option {:xeq(I('get.sort'), 'off_sale_time~asc', 'selected')} value="off_sale_time~asc">下架时间升序</option>
                            <option {:xeq(I('get.sort'), 'off_sale_time~desc', 'selected')} value="off_sale_time~desc">下架时间降序</option>
                        </case>
                        <case value="4">
                            <option {:xeq(I('get.sort'), 'sale_time~asc', 'selected')} value="sale_time~asc">上架时间升序</option>
                            <option {:xeq(I('get.sort'), 'sale_time~desc', 'selected')} value="sale_time~desc">上架时间降序</option>
                        </case>	
                        <case value="6">
                            <option {:xeq(I('get.sort'), 'off_sale_time~asc', 'selected')} value="off_sale_time~asc">下架时间升序</option>
                            <option {:xeq(I('get.sort'), 'off_sale_time~desc', 'selected')} value="off_sale_time~desc">下架时间降序</option>
                        </case>
                        </switch>
                    </select>
                    <php>}else{echo '&nbsp;';}</php>
                </form>
            </div> </h3>

        <div class="box-tools">
            <div class="input-group order">
                <ul>
                    <switch name="Think.get.group_id" >
                    <case value="1">
                        <li><a href="#" class="btn btn-default btn-xs" id="cancel_passed_batch">取消</a></li> 
                        <li><a href="#" data-id="1" class="btn btn-default btn-xs" id="update_goods_sale_batch" >上架</a></li>
                        <li><a href="#" data-id="2" class="btn btn-default btn-xs" id="off_goods_sale_batch">下架</a></li>
                        <li><a href="#" class="btn btn-default btn-xs" id="passed_batch">审核</a></li>
                        <li><a href="#" class="btn btn-default btn-xs" id="goods_delete_batch">删除</a></li>
                    </case>
                    <case value="2">
                        <li><a href="#" class="btn btn-default btn-xs import_price">导入更新</a></li>
                        <li><a href="#" class="btn btn-default btn-xs" id="exportPriceExecl">导出</a></li>
                        <li><a href="#" class="btn btn-default btn-xs" id="update_goods_sale_batch">上架</a></li>
                    </case>
                    <case value="3">
                        <li><a href="#" data-id="1" class="btn btn-default btn-xs" id="update_goods_sale_batch">上架</a></li>
                    </case>
                    <case value="4">
                        <li><a href="#" data-id="2" class="btn btn-default btn-xs" id="off_goods_sale_batch">下架</a></li>
                    </case>
                    <case value="5">
                        <li><a href="#" class="btn btn-default btn-xs" id="cancel_passed_batch" >取消</a></li>
                        <li><a href="#" class="btn btn-default btn-xs" id="passed_batch">审核</a></li>
                    </case>
                    <case value="6">
                        <li><a href="#" class="btn btn-default btn-xs" id="goods_delete_batch">删除</a></li>
                    </case>
                    <default />
                    <li><a href="#" class="btn btn-default btn-xs" id="cancel_passed_batch" >取消</a></li>
                    <li><a href="#" data-id="1" class="btn btn-default btn-xs" id="update_goods_sale_batch">上架</a></li>
                    <li><a href="#" data-id="2" class="btn btn-default btn-xs" id="off_goods_sale_batch">下架</a></li>
                    <li><a href="#" class="btn btn-default btn-xs" id="passed_batch">审核</a></li>
                    <li><a href="#" class="btn btn-default btn-xs" id="goods_delete_batch">删除</a></li>
                    </switch>
                </ul>
            </div>

        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover" id="dataTable">
            <tbody>
                <tr>
                    <th align="middle"><input type="checkbox" id="checkAll"></th>
                    <th align="middle"></th>
                    <th>商家ID/最新商家编码</th>
                    <th>主图</th>
                    <th>名称</th>
                    <th>商品类目</th>
                    <th>成本价</th>
                    <th>分销价</th>
                    <th>市场价</th>
                    <th>商品状态</th>
                    <th>操作</th>
                </tr>
            <volist name="datas.list" id="vo">
                <tr>
                    <td ><input type="checkbox"  class="checkbox_goods_id choose" value="{$vo.goods_id}" >

                    </td>
                    <td>
                <php>if ( 1 == getPower('unfold_SKU_'.I('get.group_id',1)) ) {</php>
                <i class="glyphicon glyphicon-plus-sign sku_tab"></i>
                <php> } </php>
                </td>
                <td>
                    <p>商品ID:{$vo.goods_no}</p>
                    <p>商家编码：{$vo.buyer_goods_no}</p>
                </td>
                <td style="width:30px;"><img class="table_img" src="{:img_url($vo['img_path']?$vo['img_path']:$vo['goods_id'],30,40)}" /> 
                </td>
                <td>
                    <p>
                        {$vo.goods_name}
                    </p>
                    <p> 上传时间：{:date('Y-m-d H:i',$vo['addtime'])}  <neq name="vo.conf_time" value="0">上架时间：{:date('Y-m-d H:i',$vo['conf_time'])}</neq>
                    </p>
                </td>
                <td>
                    {:getTreeCategory($vo['goods_category'])}
                </td>
                <td>
                    {$vo.price.original_price}
                </td>
                <td>
                    {$vo.price.distribution_price}
                </td>
                <td>
                    {$vo.price.market_price}
                </td>
                <td>
                    <eq name="vo.new_upload" value='1'>
                    <switch name="vo.goods_status">
                <case value="1">
                    <eq name="vo.goods_sale" value="2" >
                    已下架
                    <else />
                    待审核
                    </eq>
                </case>
                <case value="2">未通过</case>
                <case value="3">已上架</case>
                </switch>
                <else />
                新上传
                </eq>
                </td>
                <td>
                    <switch name="Think.get.group_id">
                <case value="">
                    <eq name="vo.new_upload" value="1">
                    <eq name="vo.goods_status" value="1">
                    <eq name="vo.goods_sale" value="2">
                    <php> if( 1 == getPower('grounding_'.I('get.group_id',1)) ) { </php>
                    <p><a  class="goods_sale" data-id="{$vo.goods_id}" href="#">上架</a></p>
                    <php>}</php>
                    <else />
                    <php> if( 1 == getPower('examine_'.I('get.group_id',1)) ) { </php>
                    <p><a class="passed" data-id="{$vo.goods_id}" href="#">审核</a></p>
                    <php>}</php>
                    </eq>

                    <eq name="vo.goods_sale" value="1">
                    <php> if( 1 == getPower('cancel_'.I('get.group_id',1)) ) { </php>
                    <p><a class="cancel_goods_sale" data-id="{$vo.goods_id}" href="#">取消</a></p>
                    <php>}</php>
                    </eq>						
                    </eq>
                    <eq name="vo.goods_status" value="2">
                    <php> if( 1 == getPower('delete_'.I('get.group_id',1)) ) { </php>
                    <p><a class="goods_delete" data-id="{$vo.goods_id}"  href="#">删除</a></p>
                    <php>}</php>
                    </eq>
                    <eq name="vo.goods_status" value="3">
                    <php> if( 1 == getPower('sold_out_'.I('get.group_id',1)) ) { </php>
                    <p><a class="off_goods_sale" data-id="{$vo.goods_id}" href="#">下架</a></p>
                    <php>}</php>
                    </eq>
                    <else />
                    <php> if( 1 == getPower('grounding_'.I('get.group_id',1)) ) { </php>
                    <p><a class="goods_sale" data-id="{$vo.goods_id}" href="#">上架</a></p>
                    <php>}</php>
                    </eq>					
                </case>
                <case value="1">
                    <eq name="vo.new_upload" value="1">
                    <eq name="vo.goods_status" value="1">
                    <eq name="vo.goods_sale" value="2">
                    <php> if( 1 == getPower('grounding_'.I('get.group_id',1)) ) { </php>
                    <p><a  class="goods_sale" data-id="{$vo.goods_id}" href="#">上架</a></p>
                    <php>}</php>
                    <else />
                    <php> if( 1 == getPower('examine_'.I('get.group_id',1)) ) { </php>
                    <p><a class="passed" data-id="{$vo.goods_id}" href="#">审核</a></p>
                    <php>}</php>
                    </eq>

                    <eq name="vo.goods_sale" value="1">
                    <php> if( 1 == getPower('cancel_'.I('get.group_id',1)) ) { </php>
                    <p><a class="cancel_goods_sale" data-id="{$vo.goods_id}" href="#">取消</a></p>
                    <php>}</php>
                    </eq>						
                    </eq>
                    <eq name="vo.goods_status" value="2">
                    <php> if( 1 == getPower('delete_'.I('get.group_id',1)) ) { </php>
                    <p><a class="goods_delete" data-id="{$vo.goods_id}"  href="#">删除</a></p>
                    <php>}</php>
                    </eq>
                    <eq name="vo.goods_status" value="3">
                    <php> if( 1 == getPower('sold_out_'.I('get.group_id',1)) ) { </php>
                    <p><a class="off_goods_sale" data-id="{$vo.goods_id}" href="#">下架</a></p>
                    <php>}</php>
                    </eq>
                    <else />
                    <php> if( 1 == getPower('grounding_'.I('get.group_id',1)) ) { </php>
                    <p><a class="goods_sale" data-id="{$vo.goods_id}" href="#">上架</a></p>
                    <php>}</php>
                    </eq>
                </case>
                <case value="2">
                    <php> if( 1 == getPower('grounding_'.I('get.group_id',1)) ) { </php>
                    <p><a class="goods_sale" data-id="{$vo.goods_id}" href="#">上架</a></p>
                    <php>}</php>
                </case>
                <case value="3">
                    <php> if( 1 == getPower('grounding_'.I('get.group_id',1)) ) { </php>
                    <p><a class="goods_sale" data-id="{$vo.goods_id}" href="#">上架</a></p>
                    <php>}</php>
                </case>
                <case value="4">
                    <php> if( 1 == getPower('sold_out_'.I('get.group_id',1)) ) { </php>
                    <p><a class="off_goods_sale" data-id="{$vo.goods_id}" href="#">下架</a></p>
                    <php>}</php>
                </case>
                <case value="5">
                    <php> if( 1 == getPower('examine_'.I('get.group_id',1)) ) { </php>
                    <p><a class="passed" data-id="{$vo.goods_id}" href="#">审核</a></p>
                    <php>}</php>
                    <php> if( 1 == getPower('cancel_'.I('get.group_id',1)) ) { </php>
                    <p><a class="cancel_goods_sale" data-id="{$vo.goods_id}" href="#">取消</a></p>
                    <php>}</php>
                </case>
                <case value="6">
                    <php> if( 1 == getPower('delete_'.I('get.group_id',1)) ) { </php>
                    <p><a class="goods_delete" data-id="{$vo.goods_id}"  href="#">删除</a></p>
                    <php>}</php>
                </case>

                </switch>

                </ul>
                </td>	
                </tr>
                <tr class="hidden">
                    <td colspan="11">
                        <table class="table">
                            <tr><th>商品SKU属性</th>
                                <th>库存（合计：{$vo.stock_num}）</th>
                            </tr>
                            <volist name="vo.sku_list" id="sl">
                                <tr>
                                    <td>{$sl.sku_str_zh}</td>
                                    <td>{$sl.stock_num}</td>
                                </tr>
                            </volist>
                        </table>
                    </td>
                </tr>
            </volist>
        </table>	
    </div>

    <div class="box-footer">
        <div class="left" >
            <form class="form-inline" id="pagesizeForm" action="{:U(ACTION_NAME, I('get.'))}" method="get">
                <div class="form-group">
                    <label for="exampleInputName2">全选结果页:  </label><input type="checkbox" class="allGoods" class="choose" name="allGoods" value="">
                </div>
                <div class="form-group">
                    <select name="pagesize" class="form-control input-xs pagesize">
                        <option {:xeq(I('get.pagesize'), 20, 'selected')} value="20">20条</option>
                        <option {:xeq(I('get.pagesize'), 50, 'selected')} value="50">50条</option>
                        <option {:xeq(I('get.pagesize'), 100, 'selected')} value="100">100条</option>
                    </select>
                </div>
            </form>

        </div>



        <div class="right">
            <div class="pagination">
                {$datas.page}
            </div>
        </div>
    </div>
</block>
<block name="footerJs">
    <script type="text/javascript" src="__STATIC__/home/js/moment.js"></script>
    <script src="__STATIC__/home/js/bootstrap-datetimepicker.min.js"></script>
    <script src="__STATIC__/home/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript" src="__STATIC__/home/js/custom.js"></script>
    <script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
    <script type="text/javascript">
        var refurbish = function () {
            location.reload();
        };
        $(document).ready(function () {
            $('select[name="goods_search"]').change(function (event) {
                /* Act on the event */
                if ('' == $(this).val()) {
                    $('input[name="search_word"]').attr('disabled', true);
                } else {
                    $('input[name="search_word"]').removeAttr('disabled');
                }
            });

            $('.import_price').click(function (event) {
                layer.open({
                    type: 2,
                    area: ['500px', '150px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: "{:U('goods/importPrice')}",
                    title: '导入价格'
                });
                return false;
            });

            //单个商品上架
            $('.goods_sale').click(function (event) {
                var postData = new Object(),
                        postUrl = "{:U('goods/goodsSaleAjax')}";
                postData.goods_id = $(this).data('id');
                layer.confirm('你确定要上架么？', {btn: ['确认', '取消']},
                        function (index) {
                            layer.close(index);
                            /* Act on the event */
                            $.post(postUrl, postData, function (data, textStatus, xhr) {
                                /*optional stuff to do after success */
                                layer.open({
                                    content: data.message,
                                    scrollbar: false,
                                    yes: function (index) {
                                        layer.close(index);
                                        if (1 == data.status) {
                                            location.reload();
                                        }
                                    }
                                });
                            }, 'json');
                        }, function (index) {
                    layer.close(index);
                    return false;
                });
                return false;
            });



            //单个商品下架
            $('.off_goods_sale').click(function (event) {
                /* Act on the event */
                var postData = new Object(),
                        postUrl = "{:U('goods/goodsOffSaleAjax')}";
                postData.goods_id = $(this).data('id');
                layer.confirm('你确定要下架么？', {btn: ['确认', '取消']},
                        function (index) {
                            layer.close(index);
                            $.post(postUrl, postData, function (data, textStatus, xhr) {
                                /*optional stuff to do after success */

                                layer.open({
                                    content: data.message,
                                    scrollbar: false,
                                    yes: function (index) {
                                        layer.close(index);
                                        if (1 == data.status) {
                                            location.reload();
                                        }
                                    }
                                });
                            }, 'json');
                            return false;
                        }, function (index) {
                    layer.close(index);
                });
                return false;
            });


            //单个商品取消
            $('.cancel_goods_sale').click(function (event) {
                var postData = new Object(),
                        postUrl = "{:U('goods/goodsCancelSale')}";
                postData.goods_id = $(this).data('id');
                layer.confirm('你确定要取消么？', {btn: ['确认', '取消']},
                        function (index) {
                            layer.close(index);
                            $.post(postUrl, postData, function (data, textStatus, xhr) {
                                /*optional stuff to do after success */
                                layer.open({
                                    content: data.message,
                                    scrollbar: false,
                                    yes: function (index) {
                                        layer.close(index);
                                        if (1 == data.status) {
                                            location.reload();
                                        }
                                    }
                                });
                            }, 'json');
                            return false;
                        }, function (index) {
                    layer.close(index);
                    return false;
                });
            });



            //删除单个商品
            $('.goods_delete').click(function (event) {
                var postData = new Object(),
                        postUrl = "{:U('goods/goodsDelete')}";
                postData.goods_id = $(this).data('id');
                layer.confirm('你确定要删除么？', {btn: ['确认', '取消']},
                        function (index) {
                            layer.close(index);

                            $.post(postUrl, postData, function (data, textStatus, xhr) {
                                /*optional stuff to do after success */
                                layer.open({
                                    content: data.message,
                                    scrollbar: false,
                                    yes: function (index) {
                                        layer.close(index);
                                        if (1 == data.status) {
                                            location.reload();
                                        }
                                    }
                                });
                            }, 'json');
                            return false;
                        }, function (index) {
                    layer.close(index);
                    return false;
                });
                return false;
            });



            var goodsDeleteBatch = function (mPostData) {
                var postUrl = "{:U('goods/goodsDeleteBatch',I('get.'))}";
                $.post(postUrl, mPostData, function (data, textStatus, xhr) {
                    /*optional stuff to do after success */
                    layer.open({
                        content: data.message,
                        scrollbar: false,
                        yes: function (index) {
                            layer.close(index);
                            if (1 == data.status) {
                                location.reload();
                            }
                        }
                    });
                }, 'json');
            };

            /**
             * 商品批量删除ajax操作
             */
            $('#goods_delete_batch').click(function (event) {
                var postData = new Object();
                postData = getPostData();

                if (false == postData) {
                    layer.alert('请选择商品', {icon: 6});
                    return false;
                }
                layer.confirm('确定需要删除商品么？', {btn: ['确认', '取消']},
                        function (index) {
                            goodsDeleteBatch(postData);
                        }, function (index) {
                    layer.close(index);
                }
                );
                return false;
            });



            var passed = function (mPostData) {
                postUrl = "{:U('goods/goodsPassed')}";
                $.post(postUrl, mPostData, function (data, textStatus, xhr) {
                    /*optional stuff to do after success */
                    layer.open({
                        content: data.message,
                        scrollbar: false,
                        yes: function (index) {
                            layer.close(index);
                            if (1 == data.status) {
                                location.reload();
                            }
                        }
                    });
                }, 'json');
            };

            $('.passed').click(function (event) {
                var postData = new Object();
                postData.goods_id = $(this).data('id');
                layer.confirm('请选择是通过或拒绝审核', {
                    btn: ['通过', '拒绝'] //按钮
                }, function () {
                    postData.goods_status = 3;
                    passed(postData);
                }, function () {
                    postData.goods_status = 2;
                    passed(postData);
                });
                return false;
            });



            var passedBatch = function (mPostData) {
                var postUrl = "{:U('goods/passedBatch',I('get.'))}";
                $.post(postUrl, mPostData, function (data, textStatus, xhr) {
                    /*optional stuff to do after success */
                    layer.open({
                        content: data.message,
                        scrollbar: false,
                        yes: function (index) {
                            layer.close(index);
                            if (1 == data.status) {
                                location.reload();
                            }
                        }
                    });
                }, 'json');
            };

            /**
             * 商品批量审核ajax操作
             */
            $('#passed_batch').click(function (event) {
                var postData = new Object();
                postData = getPostData();
                if (postData == false) {
                    layer.alert('请选择商品', {icon: 6});
                    return false;
                }
                layer.confirm('请选择是通过或拒绝审核', {btn: ['通过', '拒绝']},
                        function (index) {
                            postData.goods_status = 3;
                            passedBatch(postData);
                        }, function () {
                    postData.goods_status = 2;
                    passedBatch(postData);
                }
                );
                return false;
            });


            var cancelPassedBatch = function (mPostData) {
                var postUrl = "{:U('goods/cancelPassedBatch',I('get.'))}";
                $.post(postUrl, mPostData, function (data, textStatus, xhr) {
                    /*optional stuff to do after success */
                    layer.open({
                        content: data.message,
                        scrollbar: false,
                        yes: function (index) {
                            layer.close(index);
                            if (1 == data.status) {
                                location.reload();
                            }
                        }
                    });
                }, 'json');
            };


            var offGoodsSaleBatch = function (mPostData) {
                var postUrl = "{:U('goods/offGoodsSaleBatch',I('get.'))}";
                $.post(postUrl, mPostData, function (data, textStatus, xhr) {
                    /*optional stuff to do after success */
                    layer.open({
                        content: data.message,
                        scrollbar: false,
                        yes: function (index) {
                            layer.close(index);
                            if (1 == data.status) {
                                location.reload();
                            }
                        }
                    });
                }, 'json');
            };


            /**
             * 商品批量下架ajax操作
             */
            $('#off_goods_sale_batch').click(function (event) {
                var postData = new Object();
                postData = getPostData();
                if (false == postData) {
                    layer.alert('请选择商品', {icon: 6});
                    return false;
                }
                layer.confirm('您确定要将已选的商品下架么？', {btn: ['确认', '取消']},
                        function (index) {
                            offGoodsSaleBatch(postData);
                        }, function (index) {
                    layer.close(index);
                }
                );
                return false;
            });

            /**
             * 商品批量取消ajax操作
             */
            $('#cancel_passed_batch').click(function (event) {
                var postData = new Object();

                postData = getPostData();

                if (false == postData) {
                    layer.alert('请选择商品', {icon: 6});
                    return false;
                }
                layer.confirm('确定需要取消审核么？', {btn: ['确认', '取消']},
                        function (index) {
                            cancelPassedBatch(postData);
                        }, function (index) {
                    layer.close(index);
                }
                );
                return false;
            });



            var updateGoodsSaleBatch = function (mPostData) {
                var postUrl = "{:U('goods/updateGoodsSaleBatch',I('get.'))}";
                $.post(postUrl, mPostData, function (data, textStatus, xhr) {
                    /*optional stuff to do after success */
                    layer.open({
                        content: data.message,
                        scrollbar: false,
                        yes: function (index) {
                            layer.close(index);
                            if (1 == data.status) {
                                location.reload();
                            }
                        }
                    });
                }, 'json');
            }

            /**
             * 商品批量上架ajax操作
             */
            $('#update_goods_sale_batch').click(function (event) {
                var postData = new Object();
                postData = getPostData();
                if (false == postData) {
                    layer.alert('请选择商品', {icon: 6});
                    return false;
                }
                layer.confirm('确定要将商品上架审核么', {btn: ['确认', '取消']},
                        function (index) {
                            updateGoodsSaleBatch(postData);
                        }, function (index) {
                    layer.close(index);
                }
                );
                return false;
            });


            $('.cancel_passed').click(function (event) {
                /* Act on the event */
                var postData = new Object(),
                        postUrl = "{:U('goods/goodsPassed')}";
                postData.goods_id = $(this).data('id');
                $.post(postUrl, postData, function (data, textStatus, xhr) {
                    /*optional stuff to do after success */
                    layer.open({
                        content: data.message,
                        scrollbar: false,
                        yes: function (index) {
                            layer.close(index);
                            if (1 == data.status) {
                                location.reload();
                            }
                        }
                    });
                }, 'json');
                return false;
            });

            $('.sort').change(function () {
                $('#sortForm').submit();
            });

            $('.allGoods').click(function (event) {
                $('input[name="allData"]').val($(this).is(':checked') ? 1 : 0);
            });

            //导出商品价格
            $("#exportPriceExecl").click(function (event) {
                /* Act on the event */
                if ($('.allGoods').is(':checked')) {
                    $("input[name='allData']").val(1)
                } else {
                    $("#dataTable").find('.checkbox_goods_id:checked').each(function (index, element) {
                        var cloneInput = $('.explode_goods_input:first()').clone();
                        cloneInput.val($(this).val()).appendTo('.btnBox')
                    });
                    if (1 == $('.explode_goods_input').length) {
                        layer.alert('请选择商品', {icon: 6});
                        return false;
                    }
                }
                $('.explode_goods_input:first()').remove();
                $('input[name="explode_goods"]').val(1);
                $("#searchForm").submit();
                $('input[name="explode_goods"]').val(0);
                return false;
            });

            var getPostData = function () {
                var postData = new Object();
                postData.alldata = 0;
                var goods = new Array();
                if ($('.allGoods').is(":checked")) {
                    postData.alldata = 1;
                } else {
                    $("#dataTable").find('.checkbox_goods_id:checked').each(function (index, element) {
                        goods[index] = $(this).val();
                    });
                    if (0 == goods.length) {
                        return false;
                    }
                }
                postData.goods = goods;
                return postData;
            };



            //商品上架
            $('＃update_goods_sale').click(function () {
                var postUrl = "{:U('goods/goodsSale', I('get.'))}";
                var postData = getPostData();
                if (0 == postData.alldata) {
                    if (0 == postData.goods.length)
                        return false;
                }
                $.post(postUrl, postData, function (rData) {
                    layer.open({
                        content: rData.message,
                        scrollbar: false,
                        yes: function (index) {
                            layer.close(index);
                            if (1 == rData.status) {
                                location.reload();
                            }
                        }
                    });
                }, 'json');
                return false;
            });

            $('.sku_tab').click(function (event) {
                /* Act on the event */
                if ($(this).hasClass('glyphicon-plus-sign')) {
                    $(this).removeClass('glyphicon-plus-sign');
                    $(this).addClass('glyphicon-minus-sign');
                    $(this).parents("tr").next().removeClass('hidden');
                } else {
                    $(this).removeClass('glyphicon-minus-sign');
                    $(this).addClass('glyphicon-plus-sign');
                    $(this).parents("tr").next().addClass('hidden');
                }
            });
        });



    </script>