<ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> 位置</li>
    <li>
        系统设置</li>
    <li>操作记录</li>
</ol> 				
<div class="box-body">
    <div class="row" >
        <form class="form-inline" method="get" action="{:U('system/power/logs')}" id="form_search" onsubmit="return X.toSerchVaild(this)">
            <div class="form-group">
                <select class="form-control input-xs" name="module">
                    <option value="">选择操作模块</option>
                    <foreach name="modules" item="v" key="k">
                        <option value="{$k}">{$v}</option>
                    </foreach>    
                </select>
            </div>
            <div class="form-group">
                <select class="form-control input-xs" name="id">
                    <option value="">选择操作人</option>
                    <foreach name="users" item="q">
                        <option value="{$q.id}">{$q.name}</option>  
                    </foreach>      
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputName2">操作时间:&nbsp;&nbsp;&nbsp;&nbsp;</label>


            </div>
            <div class="form-group">
                <label>开始时间:</label>
                <input type="text" class="form-control input-xs" onClick="WdatePicker()" value="{:I('get.time1')}" name="time1">
            </div>
            <div class="form-group">
                <label>结束时间:</label>
                <input type="text" class="form-control input-xs" onClick="WdatePicker()" value="{:I('get.time2')}" name="time2">
            </div>		
            <div class="form-group">
                <input type="submit"  class="btn btn-block btn-warning btn-xs" value="筛选">
            </div>
        </form>
    </div>
    <div class="row table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>操作模块</th>
                    <th>操作内容</th>
                    <th>操作人</th>
                    <th>操作时间</th>
                </tr>	
            <foreach name="list" item="q">
                <tr>
                    <th>{$q.module}</th>
                    <th>{$q.detail}</th>
                    <th>{$q.name}</th>
                    <th>{$q.add_time}</th>
                </tr>
            </foreach>
            </tbody>
        </table>
    </div>	
    <div class="box-footer">
        <div id="kkpager"></div>
    </div>
</div>
<script src="__PUBLIC__/js/calendar.js"></script> 
<style>
    .s-date ul, .s-date ol, .s-date li {
        list-style: none;
        padding: 0;
        margin: 0;
    }	
</style>
<script>
            pager({$total});

            $('#date1').calendar({
                trigger: '.e-date1',
                zIndex: 999,
                format: 'yyyy-mm-dd',
            });
            $('#date2').calendar({
                trigger: '.e-date2',
                zIndex: 999,
                format: 'yyyy-mm-dd',
            });
</script>