<table class="table table-hover print_table" id="print_table">
    <tbody>
      <tr >
        <th>订单号/商品ID</th>
        <th>最新商家编码</th>
        <th>颜色&nbsp;尺码</th>
        <th>成本价/元</th>
        <th>数量</th>
        <th>发货状态</th>
        <th>售后状态</th>
      </tr>
      <volist name="datas" id='list'>
      <tr class="first">
        <td >{$list.order_sn}</td>
        <td><?=date("Y-m-d H:m:s",time())?></td>
        <td colspan="3" style="width: 150px;">
              {$list.concat_address.contact_name},{$list.concat_address.tel},&nbsp;{$list.concat_address.province}&nbsp;{$list.concat_address.city}&nbsp;{$list.concat_address.dist}&nbsp;{$list.concat_address.contact_address} 
        </td>
        <td colspan="3" style="text-align:center;">
            {$list.memo}
        </td>
      </tr>
      <tr class="first">
          <td>{$list.goods_no}</td>
          <td>{$list.buyer_goods_no}</td>
          <td>{$list.sku}</td>
          <td>{$list.original_price}</td>
          <td>{$list.goods_num}</td>
          <td><switch name="list.ship_stats" >
                <case value='0'>待配货</case>
                <case value='1'>待分配</case>
                <case value='2'>待发货</case>
                <case value='3'>已完成</case>
                </switch></td>
          <td style="color: red"> {:xeq($list['is_cus'],1,'售后中')}</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>商品总数:</td>
        <td>{$list.goods_num}件</td>
        <td colspan="2"></td>
      </tr>
      <input type="hidden" class="print_table" name="order_id[]" value="{$list.order_id}">
      </volist>
    </tbody>
</table>  