<block name="content">
    <div class="box box-warning">
        <div class="box-header with-border">
            <div class="box-title">
                <ul class="choose_ul">
                    <li><a class="{:xeq(I('get.group_id',1),1,'btn btn-warning btn-xs')}" href="{:U('storage/index',array('group_id' => 1 ))}" >所有订单</a></li>
                    <li><a class="{:xeq(I('get.group_id'),2,'btn btn-warning btn-xs')}" href="{:U('storage/index',array('group_id' => 2 ))}">待配货</a></li>
                    <li><a class="{:xeq(I('get.group_id'),3,'btn btn-warning btn-xs')}" href="{:U('storage/index',array('group_id' => 3 ))}">待分配</a></li>
                    <li><a class="{:xeq(I('get.group_id'),4,'btn btn-warning btn-xs')}" href="{:U('storage/index',array('group_id' => 4 ))}">待发货</a></li>
                    <li><a class="{:xeq(I('get.group_id'),5,'btn btn-warning btn-xs')}" href="{:U('storage/index',array('group_id' => 5 ))}">已完成</a></li>
                </ul>
            </div>
            <div class="box-tools pull-left"> </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row" >
                <form class="form-inline"  action="{:U('storage/index')}" method="get">
                    <div class="form-group">
                        <label for="exampleInputName2">仓库名称:</label>
                        <select class="form-control input-xs" name="depot">
                            <option value="">选择仓库</option>
                            <volist name ="depot" id = "depot" >
                                <option {:xeq(I('get.depot'),$depot['id'],'selected')} value="{$depot.id}">{$depot.sname}</option>
                            </volist>
                        </select>
                    </div>
                    <!--div class="form-group">
                        <label for="exampleInputName2">商品类目:</label>
                        <select class="form-control input-xs" name="goods_category">
                            <option value="">主类目</option>
                            <volist name="goods_category" id="vo">
                                <option {:xeq(I('get.goods_category'),$vo['cid'],'selected')} value="{$vo.cid}">{$vo.name}</option>
                            </volist>
                        </select>
                    </div-->
                    <div class="form-group ">
                        <label for="exampleInputName2">分销商:</label>
                        <input type="text" class="form-control input-xs" name="buyer_id" value="{:I('get.buyer_id')}">
                    </div>
                    <div class="form-group ">
                        <label for="exampleInputName2">是否备注:</label>
                        <select class="form-control input-xs" name="remark">
                            <option value="">全部</option>
                            <option value="1" {:xeq(I('get.remark'),1,'selected')}  >有备注</option>
                            <option value="2" {:xeq(I('get.remark'),2,'selected')}>无备注</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <label for="exampleInputName2">物流公司:</label>
                            <select class="form-control input-xs" name="shipping_id">
                                <option value="">全部</option>
                                <volist name="shipping" id="shipping">
                                    <option {:xeq(I('get.shipping_id'),$shipping['shipping_code'],'selected')} value="{$shipping.shipping_code}">{$shipping.shipping_name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputName2">面单类型:</label>
                            <select class="form-control input-xs" name="hub_type">
                                <option value="">全部</option>
                                <option {:xeq(I('get.hub_type'),1,'selected')} value="1" >传统面单</option>
                                <option {:xeq(I('get.hub_type'),2,'selected')} value="2" >电子面单</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control input-xs" name="time_type">
                                <option {:xeq(I('get.time_type'),'order_time','selected')} value="order_time">下单时间</option>
                                <option {:xeq(I('get.time_type'),'con_time','selected')} value="con_time">确认时间</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-xs" onClick="WdatePicker()" value="{:I('get.startTime')}" name="startTime" placeholder="开始时间">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-xs" onClick="WdatePicker()" value="{:I('get.endTime')}" name="endTime" placeholder="结束时间">
                        </div>
                    </div>
                    <div class="row" >
                        <div class="form-group ">
                            <label for="exampleInputName2">选择来源:</label>
                            <select class="form-control input-xs" name="shop_id">
                                <option value="">全部</option>
                                <volist name="shop" id="shop">
                                    <option {:xeq(I('get.shop_id'),$shop['shop_id'],'selected')} value="{$shop.shop_id}">{$shop.shop_name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control input-xs"  name="hub_search">
                                <option value="">选择关键字</option>
                                <option {:xeq(I('get.hub_search'),'hub_order.order_sn','selected')} value="hub_order.order_sn">订单号</option>
                                <!--option {:xeq(I('get.hub_search'),'goods_list.goods_name','selected')} value="goods_list.goods_name">商品名称</option>
                                <option {:xeq(I('get.hub_search'),'goods_list.goods_no','selected')} value="goods_list.goods_no">商品ID</option>
                                <option {:xeq(I('get.hub_search'),'goods_list.buyer_goods_no','selected')} value="goods_list.buyer_goods_no">商家编码</option-->
                                <option {:xeq(I('get.hub_search'),'order_contact.contact_name','selected')}  value="order_contact.contact_name">收件人姓名</option>
                                <option {:xeq(I('get.hub_search'),'order_contact.tel','selected')} value="order_contact.tel">收件人手机号</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="search_word" {:xeq(I('get.hub_search'),'','disabled')} class="form-control input-xs" value="{:I('get.search_word')}"  placeholder="商品名称、货号、收件人姓名、电话">
                        </div>
                        <div class="form-group">
                            <input type="submit"  class="btn btn-block btn-warning btn-xs" value="搜索">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <form method="get" action="{:U(ACTION_NAME,I('get.'))}" id="print" >
                <switch name="Think.get.group_id" >
                <case value="2">
                    <select name="is_print" id="" class="form-control input-xs print_select">
                        <option  value="">全部</option>
                        <option {:xeq(I('get.is_print'),'2','selected')} value= "2" >未打印</option>
                        <option {:xeq(I('get.is_print'),'1','selected')} value= "1">已打印</option>
                    </select>
                </case>
                <case value="4">
                    <select name="shipping_is_print" id="" class="form-control input-xs print_select">
                        <option value="">全部</option>
                        <option {:xeq(I('get.shipping_is_print'),'2','selected')} value= "2" >未打印</option>
                        <option {:xeq(I('get.shipping_is_print'),'1','selected')} value= "1" >已打印</option>
                    </select>
                </case>
                <default />
                &nbsp;
                </switch>
            </form>
            <div class="box-tools">
                <form method="get" action="{:U(ACTION_NAME,I('get.'))}" id="sortForm">
                    <div class="input-group order">
                    </div>
                    <div class="form-group order">
                        <php> if( 1 == getPower('sort_'.I('get.group_id',1)) ) { </php>
                        <select class="form-control input-xs sort" name="sort">
                            <option value="">订单排序</option>
                            <option {:xeq(I('get.sort'),'order_time~asc','selected')} value="order_time~asc">下单时间升序</option>
                            <option {:xeq(I('get.sort'),'order_time~desc','selected')} value="order_time~desc">下单时间降序</option>
                            <option {:xeq(I('get.sort'),'con_time~asc','selected')} value="con_time~asc">确认时间升序</option>
                            <option {:xeq(I('get.sort'),'con_time~desc','selected')} value="con_time~desc">确认时间降序</option>
                        </select>
                        <php>}else{echo '&nbsp;';}</php>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th align="middle"><input type="checkbox" id="checkAll"></th>
                    <th>商品</th>
                    <th class="price">单价/元</th>
                    <th class="num">数&nbsp;&nbsp;&nbsp;&nbsp;量</th>
                    <th class="total_money">总金额/元</th>
                    <th>收件人信息</th>
                    <th>发货状态</th>
                    <th>操作</th>
                </tr>
            <volist name="datas.list" id='list'>
                <tr style="background-color: #fbfbfb;">
                    <td colspan="8"><ul class="table_li">
                            <li style="width: 2%">
                                <neq name="list.is_cus" value='1'>
                                <input type="checkbox" name="order_id[]" class="choose" value="{$list.order_id}">
                                </neq>
                            </li>
                            <li>{$list.order_sn}</li>
                            <li>确认时间: {:date('Y-m-d H:i',$list['con_time'])}</li>
                            <li style="width:4%; color:red"><eq name="list.is_cus" value="1">售后中<else /></eq></li>
                            <li>备注:{$list.memo}</li>
                        </ul></td>
                    <!--<td></td>-->
                    <!--<td></td>-->
                </tr>
                <tr>
                    <!--td style="text-align: center"><img class="table_img" src="{:img_url($list['img_path'],30,40)}"></td-->
                    <td style="text-align: center"><img class="table_img" src="{$list.img_path}"></td>
                    <td ><p> {$list.goods_name} </p>
                        <p> {$list.buyer_goods_no}&nbsp;&nbsp;{$list.sku}</p>
                </td>
                <td>{$list.price}</td>
                <td><p>{$list.goods_num}</p></td>
                <td><p>{$list.cost_price}</p>
                    <p>含运费:{$list.shipping_fee}</p></td>
                <td>
                    <p>
                        收件人:
                        {$list.contact_name},{$list.tel}&nbsp;,{$list.province}{$list.city}{$list.dist}{$list.contact_address}
                    </p>
                </td>
                <td><p>
                        <switch name="list.ship_stats" >
                <case value='0'>待配货</case>
                <case value='1'>待分配</case>
                <case value='2'>待发货</case>
                <case value='3'>已完成</case>
                </switch>
                </p></td>
                <td><p> <a href="{:U('orders/orders/orderDetail',array('order_id'=>$list['order_id']))}" target="_blank">详情</a></p>
                    <p>
                        <neq name="list.is_cus" value='1'>
                        <switch name="list.ship_stats">
                <case value='0'>
                    <a class="one_distribution" data-id="{$list.order_id}" style="cursor: pointer;">配货</a>
                    &nbsp;
                    <a style="cursor: pointer;" data-id={$list.order_id} class="excep">异常</a>
                </case>
                <case value='1'>
                    <a class="assign" data-id={$list.order_id} style="cursor: pointer;">分配</a>&nbsp;
                    <a style="cursor: pointer;" data-id={$list.order_id} class="excep" >异常</a>
                </case>
                <case value='2'>
                    <a class="send_goods" data-id={$list.hub_id} style="cursor: pointer;">发货</a>
                    &nbsp; <a style="cursor: pointer;" data-id={$list.order_id} class="excep" >异常</a>
                </case>
                <case value='3'>
                    <a href="https://www.baidu.com/s?wd={$list.shipping_code}{$list.shipping_name} "style="cursor: pointer;" target="_blank">查看物流</a>
                </case>
                </switch>
                </neq>
                </p></td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
        <!--div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th align="middle">主图</th>
                        <th>商品</th>
                        <th class="price">单价/元</th>
                        <th class="num">数量</th>
                        <th class="total_money">总金额/元</th>
                        <th>收件人信息</th>
                        <th>发货状态</th>
                        <th>操作</th>
                    </tr>
                <volist name="datas.list" id='list'>
                    <tr style="background-color: #fbfbfb;">
                        <td colspan="6"><ul class="table_li">
                                <li>{$list.order_sn}</li>
                                <li>确认时间: {:date('Y-m-d H:i',$list['con_time'])}</li>
                                <li style="width:4%; color:red"><eq name="list.is_cus" value="1">售后中<else /></eq></li>
                                <li>备注:{$list.memo}</li>
                            </ul></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><img class="table_img" src="{$list.img_path}"></td>
                        <td ><p> {$list.goods_name} </p>
                            <p> {$list.buyer_goods_no}&nbsp;&nbsp;{$list.sku}
                    </td>
                    <td>{$list.price}</td>
                    <td><p>{$list.cost_price}</p></td>
                    <td><p>{$list.order_amount}</p>
                        <p>含运费:{$list.shipping_fee}</p></td>
                    <td>
                        <p>
                            收件人:
                            {$list.contact_name},{$list.tel}&nbsp;,{$list.province}{$list.city}{$list.dist}{$list.contact_address}
                        </p>
                    </td>
                    <td><p>
                            <switch name="list.ship_stats" >
                            <case value='0'>待配货</case>
                            <case value='1'>待分配</case>
                            <case value='2'>待发货</case>
                            <case value='3'>已完成</case>
                            </switch>
                    </p></td>
                    <td><p> <a href="{:U('orders/orders/orderDetail',array('order_id'=>$list['order_id']))}" target="_blank">详情</a></p>
                        <p>	
                            <neq name="list.is_cus" value='1'>
                            <switch name="list.ship_stats">
                    <case value='0'>
                        <!--<a class="one_distribution" data-id="{$list.order_id}" style="cursor: pointer;">配货</a>
                        &nbsp; -->
                        <a style="cursor: pointer;" data-id={$list.order_id} class="excep">异常</a> 
                    </case>
                    <case value='1'>
                        <!--<a class="assign" data-id={$list.order_id} style="cursor: pointer;">分配</a>&nbsp;-->
                        <a style="cursor: pointer;" data-id={$list.order_id} class="excep" >异常</a> 
                    </case>
                    <case value='2'> 
                        <php>if( 1 == getPower('shipments_'.I('get.group_id',1)) ) { </php>
<!--                        <a class="send_goods" data-id={$list.hub_id} style="cursor: pointer;">发货</a>-->
                        <php>}</php>
                        &nbsp; <a style="cursor: pointer;" data-id={$list.order_id} class="excep" >异常</a> 
                    </case>
                    <case value='3'>
                        <a href="https://www.baidu.com/s?wd={$list.shipping_code}{$list.shipping_name} "style="cursor: pointer;" target="_blank">查看物流</a>
                    </case>
                    </switch>
                    </neq>
                    </p></td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div-->
        <div class="box-footer">
            <div class="left" >
                <form class="form-inline" id="pagesizeForm" action="{:U(ACTION_NAME, I('get.'))}" method="get">
                    <div class="form-group">
                        <select name="pagesize" class="form-control input-xs pagesize">
                            <option {:xeq(I('get.pagesize'), 20, 'selected')} value="20">20条</option>
                            <option {:xeq(I('get.pagesize'), 50, 'selected')} value="50">50条</option>
                            <option {:xeq(I('get.pagesize'), 100, 'selected')} value="100">100条</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="right">
                <div class="pagination"> {$datas.page} </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</div>
<div class="hidden">
    <form target="_blank" id="getcode" action="{:U('TbApi/getCode')}">

    </form>
</div>
<object id=" CaiNiaoPrint_OB'" classid="clsid:09896DB8-1189-44B5-BADC-D6DB5286AC57" width=0 height=0 >
    <embed id="'CaiNiaoPrint_EM" TYPE="application/x-cainiaoprint" width=0 height=0></embed>
</object>
</block>
<block name="footerJs"> 
    <script type="text/javascript">

        $('select[name="hub_search"]').change(function (event) {
            if ('' == $(this).val()) {
                $('input[name="search_word"]').attr('disabled', true);
                $('input[name="search_word"]').val('');
            } else {
                $('input[name="search_word"]').removeAttr('disabled');
            }
        });


        var checkTaobaoLogin = function () {
            $.post("{:U('TbApi/checkAcess')}", function (data, textStatus, xhr) {
                /*optional stuff to do after success */
                if (0 == data.status) {
                    $('#getcode').submit();
                    layer.alert('请先去获取授权！', function (index) {
                        layer.close(index);
                    });
                }
                return data.status
            });
        }

//自动获取单号ship_code
        var getconcat = function () {
            if ($('input:radio:checked').val()) {
                if (0 == checkTaobaoLogin()) {
                    return false;
                }
                var postData = new Object();
                postData.order = [$("#order_id").val()];
                postData.ship_id = $('.ship_name option:selected').val();
                $.post("{:U('Storage/getShipCode')}", postData, function (result) {
                    if (1 == result.status) {
                        $('#hub_one').val(result.returnData.data[0].shipping_code);
                    }
                    if (0 == result.status) {
                        layer.tips(result.message, '.getconcatBnt', {tips: [2, '#3595CC']});
                    }
                });
            }
        }

//radio按钮，切换
        var radiochange = function (e) {
            if (e.value == 1) {
                document.getElementById('hub_one').disabled = false;
                $('#hub_two').val('');
                document.getElementById('hub_two').disabled = true;
            }
            if (e.value == 2) {
                document.getElementById('hub_one').disabled = true;
                $('#hub_one').val('');
                document.getElementById('hub_two').disabled = false;
            }
        }
//手动录入运单号
        var one_ship_code = function () {
            var a = $('input:radio:checked').val();
//手动录入
            if (a == 2) {
                var patten = new RegExp('[a-zA-Z0-9]{1,14}');
                if (patten.test($('#hub_two').val())) {
                    $('#tip').css('display', 'none');
                    var dataPost = new Object(),
                            urlPost = "{:U('storage/saveOneShip')}";
                    dataPost.order_id = $('#order_id').val();
                    dataPost.ship_code = $('#hub_two').val();
                    dataPost.ship_name = $("#ship_name option:selected").text();
                    dataPost.ship_id = $("#ship_name").val();

                    $.post(urlPost, dataPost, function (result) {
                        if (1 == result.status) {
                            layer.alert(result.message, function (index) {
                                layer.close(index);
                                location.reload();
                            });
                        }

                        if (0 == result.status) {
                            layer.alert(result.message, function (index) {
                                layer.close(index);
                                location.reload();
                            });
                        }

                    });
                } else {
                    $('#tip').css('display', '');
                    $('#hub_two').val('');
                }
            }

//自动获取
            if (a == 1) {
                layer.close();
                window.location.reload();
            }

        }


//批量分配单号
        var allAssign = function () {
            if (0 == checkTaobaoLogin()) {
                return false;
            }

            var dataPost = new Object(),
                    order = new Array();
            dataPost.type = $("#selectall").is(':checked');
            dataPost.ship_id = $("select[name='ship_name']").val();
            $('.choose:checked').each(function (index, el) {
                order[index] = $(this).val();
            });
            dataPost.order = order;
            var urlPost = "{:U('storage/getAllShipCode',I('get.'))}";
            $.post(urlPost, dataPost, function (result) {
                console.log(result);
                if (result.status == 0) {
                    layer.tips(result.message, '#btn_assign', {
                        tips: [2, '#3595CC'],
                        time: 3000
                    });

                    return false;
                }
                $('#btn_assign').prop('disabled', true);
                for (var i = 0; i < result.returnData.data.length; i++) {
                    $('#shipping_code_' + result.returnData.data[i].order_id).text(result.returnData.data[i].shipping_code);
                    $('#message_' + result.returnData.data[i].order_id).text(result.returnData.data[i].status);
                }
            }, 'JSON');
        }

//发货事件
        var sendGoods = function (val) {
            $.post("{:U('storage/sendGoods')}", {ship_code: val}, function (result) {
                if (result.status == 'ok') {
                    ///layer.tips('发货成功', '#inputEnter',{ tips: 1,style: ['background-color:#FFF8ED']});
                    layer.tips('发货成功', '#inputEnter', {
                        tips: [2, '#3595CC'],
                        time: 1000
                    });

                } else {
                    layer.tips(result.content, '#inputEnter', {
                        tips: [2, '#3595CC'],
                        time: 3000
                    });
                }

                $('#inputEnter').val('');
            }, 'json');
        }

        $(document).ready(function () {
//排序选择
            $('.sort').change(function () {
                $('#sortForm').submit();
            });
//查看是否打印
            $('.print_select').change(function () {
                $('#print').submit();
            });
//打印配货单
            $('.print_distribution').click(function () {
                if (0 == $('.choose:checked').length && false == $("#selectall").is(':checked')) {
                    layer.alert('请选择要操作的发货单');
                    return false
                }
                var data
                if ($("#selectall").is(':checked') == true) {
                    data = {type: 'all'};
                } else {
                    data = $('.choose:checked').serialize();
                }
                var urlPost = "{:U('storage/printDistribution',I('get.'))}";
                $.post(urlPost, data, function (result) {
                    layer.confirm(result, {title: '打印配货单',
                        btn: ['打印', '取消'], area: ['1000px', '600px']},
                            function () {
                                $.post("{:U('storage/resultDistribution')}", $('.print_table').serialize(), function (status) {
                                    console.log(status);
                                    var newstr = $('.layui-layer-content').html();
                                    document.body.innerHTML = newstr;
                                    if (window.print()) {
                                        //window.location.reload();
                                    } else {
                                        //window.location.reload();
                                    }
                                });
                            });
                });
                return false;

            });

//单个配货
            $('.one_distribution').click(function () {
                var hub_order_id = new Array();
                hub_order_id.push($(this).data('id'));
                layer.confirm('确认对所选订单进行配货吗?', {title: '提醒', btn: ['确认', '取消']}, function (index) {
                    $.post("{:U('storage/hubDistribution')}", {order_id: hub_order_id}, function (result) {
                        if (1 == result.status) {
                            layer.alert(result.message, function (index) {
                                layer.close(index);
                                location.reload();
                            });
                        }
                    });
                });
            });

//批量配货
            $('.distribution').click(function () {
                if (0 == $('.choose:checked').length && false == $("#selectall").is(':checked')) {
                    layer.alert('请选择要操作的订单');
                    return false;
                }
                layer.confirm('确认对所选订单进行配货吗?', {title: '提醒', btn: ['确认', '取消']}, function (index) {
                    var data
                    if ($("#selectall").is(':checked') == true) {
                        data = {type: 'all'};
                    } else {
                        data = $('.choose:checked').serialize();
                    }
                    var urlPost = "{:U('storage/hubDistribution',I('get.'))}";
                    $.post(urlPost, data, function (result) {
                        if (1 == result.status) {
                            layer.alert(result.message, function (index) {
                                layer.close(index);
                                location.reload();
                            });
                        }
                    });
                });
                return false;
            });

//分配运单号
            $('.assign').click(function () {
                var order_id = $(this).data('id');
                if (0 == $('.choose:checked').length && false == $("#selectall").is(':checked') && typeof (order_id) == "undefined") {
                    layer.alert('请选择要操作的订单');
                    return false;
                }

                //单个分配
                if (($("#selectall").is(':checked') == false && $('.choose:checked').length == 1) || ($("#selectall").is(':checked') == false && order_id)) {
                    var order = new Array();
                    if ($('.choose:checked').val()) {
                        order[0] = $('.choose:checked').val()
                    } else if (order_id) {
                        order[0] = order_id;
                    }
                    var postData = new Object();
                    postData.order_id = order[0];
                    $.post("{:U('Storage/assginship')}", postData, function (result) {
                        if (1 == result.status) {
                            layer.confirm(result.returnData, {title: "提醒", btn: ["确定"], area: ['400px', '300px']}, function (index) {
                                one_ship_code();
                            });
                        } else {
                            layer.alert(result.message);
                        }
                    });
                    return false;
                }

                //批量分配
                if ($("#selectall").is(':checked') == false && $('.choose:checked').length < 2) {
                    return false;
                }
                var dataPost = new Object(),
                        order = new Array();
                dataPost.type = $("#selectall").is(':checked');

                $('.choose:checked').each(function (index, el) {
                    order[index] = $(this).val();
                });
                dataPost.order = order;

                var urlPost = "{:U('storage/assginShipAll',I('get.'))}";
                $.post(urlPost, dataPost, function (result) {
                    if (result) {
                        layer.confirm(result, {title: "分配运单号", btn: ["确定"], area: ['800px', '500px']}, function (index) {

                            layer.close(index);
                            window.location.reload();
                        });
                    }
                });
            });

//取消分配
            $('.cancel_assign').click(function () {
                if ($('.choose:checked').serialize() || $("#selectall").is(':checked')) {
                    if ($("#selectall").is(':checked') == true) {
                        data = {type: 'all'};
                    } else {
                        data = $('.choose:checked').serialize();
                    }
                    layer.confirm('你确定要取消分配吗?', {title: '提醒', btn: ['确定', '取消']}, function () {
                        var urlPost = "{:U('storage/canceShipCode',I('get.'))}";
                        $.post(urlPost, data, function (result) {
                            var result = JSON.parse(result);
                            console.log(result);
                            var success = 0;
                            var fail = 0;
                            var cus_num = 0;
                            for (var i = 0; i < result.length; i++) {
                                if (result[i].status == 'ok') {
                                    success++;
                                } else if (result[i].status == 'fail') {
                                    fail++;
                                }
                                if (result[i].cus_num == 'cus') {
                                    cus_num++;
                                }
                            }
                            layer.alert("取消成功" + success + "条,取消失败" + fail + "条,售后中" + cus_num + "条", function () {
                                window.location.reload();
                            });

                        });
                    });
                } else {

                    layer.alert('请选择要操作的订单');
                }
            });

//打印物流单
            $('.print_ship').click(function () {
                if (false == $("#selectall").is(':checked') && 0 == $('.choose:checked').length) {
                    layer.alert('请选择要操作的发货单');
                    return false;
                }
                var dataPost = new Object(),
                        order = new Array();
                dataPost.type = $("#selectall").is(':checked');
                $('.choose:checked').each(function (index, el) {
                    order[index] = $(this).val();
                });
                dataPost.order = order;
                var urlPost = "{:U('Storage/printShippingCode',I('get.'))}";
                $.post(urlPost, dataPost, function (result) {

                    layer.confirm(result, {title: '打印物流单', btn: ['打印', '取消'], area: ['1000px', '600px']}, function () {
                        if (0 == $('.print:checked').length) {
                            layer.tips('请选择要操作的发货单', '.layui-layer-btn0', {tips: [4, '#3595CC']});
                            return false;
                        }
                        var postData = new Object(),
                                order = new Array();
                        var _class = $('.print:checked').first().attr('class');
                        var flag = true;

                        $('.print:checked').each(function (index, el) {
                            if (_class != $(this).attr('class')) {
                                layer.tips('请选择同一种快递面单类型', '.layui-layer-btn0', {tips: [4, '#3595CC']});
                                flag = false;
                            }
                        });

                        if (!flag) {
                            return;
                        }
                        $('.print:checked').each(function (index, el) {
                            order[index] = $(this).val()
                        });

                        postData.order = order;

                        if ($(".print:checked").hasClass("c_ship")) {
                            var postUrl = "{:U('Storage/printTraditional')}";
                            $.post(postUrl, postData, function (data, textStatus, xhr) {
                                layer.confirm(data, {title: "打印物流单  <a href={:U('Api/Index/getParseXML')} target='_blank'>设置模板</a>", btn: ['打印', '取消'], move: false, area: ['1000px', '600px']}, function (index) {
                                    var order_id = new Array();
                                    $('.template_one').each(function () {
                                        order_id.push($(this).data('orderid'));
                                    });
                                    //更改打印状态
                                    $.post("{:U('Storage/saveTraditional')}", {order_id: order_id}, function (data) {
                                        var newstr = $('.layui-layer-content').html();
                                        document.body.innerHTML = newstr;
                                        if (window.print()) {
                                            window.location.reload();
                                        } else {
                                            window.location.reload();
                                        }
                                    });
                                }, function (index) {
                                    layer.close(index);
                                });
                                /*optional stuff to do after success */
                            });
                        } else {
                            var postUrl = "{:U('Storage/printSingle')}";
                            $.post(postUrl, postData, function (data, textStatus, xhr) {
                                console.log(data);
                                if (1 == data.status) {
                                    printShip(data.returnData);
                                }
                                /*optional stuff to do after success */
                            });
                        }
                    });
                });
            });



            var printShip = function (shipData) {
                var AppKey = 23392048;
                var Seller_ID = 194418657;
                var CNPrint = getCaiNiaoPrint(document.getElementById('CaiNiaoPrint_OB'), document.getElementById('CaiNiaoPrint_EM'));
                CNPrint.SET_PRINT_IDENTITY("AppKey=" + AppKey + "98801&Seller_ID=" + Seller_ID);
                CNPrint.PRINT_INITA(0, 0, 400, 800, "菜鸟电子面单打印任务"); // 此处打印任务名要全程统一
                // CNPrint.SET_PRINT_STYLE(strStyleName,varStyleValue)
                CNPrint.SET_PRINT_STYLEA("ali_waybill_cp_logo_up", "PreviewOnly", 0);
                CNPrint.SET_PRINT_STYLEA("ali_waybill_cp_logo_down", "PreviewOnly", 0);
                // CNPrint.SET_PRINT_STYLEA(0, 'Offset2Top','1');
                for (var i = 0; i < shipData.length; i++) {
                    CNPrint.SET_PRINT_MODE("CAINIAOPRINT_MODE", "CP_CODE=" + shipData[i].shipping_no + "&CONFIG=" + shipData[i].shipping_info.print_config);
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_product_type", "标准快件");
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_short_address", shipData[i].shipping_info.short_address);
                    //CNPrint.SET_PRINT_CONTENT("ali_waybill_package_center_name","黑龙江齐齐哈尔集散"); //集散地名 称
                    //CNPrint.SET_PRINT_CONTENT("ali_waybill_package_center_code","053277886278"); 
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_send_name", shipData[i].depot.receiver_name);
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_send_phone", shipData[i].depot.receiver_tel);
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_shipping_address", shipData[i].depot.receiver_address);
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_consignee_name", shipData[i].shipping_info.trade_order_info.consignee_name);
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_consignee_phone", shipData[i].shipping_info.trade_order_info.consignee_phone);
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_consignee_address", shipData[i].shipping_info.trade_order_info.consignee_address.province + shipData[i].shipping_info.trade_order_info.consignee_address.city + shipData[i].shipping_info.trade_order_info.consignee_address.area);
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_waybill_code", shipData[i].shipping_code);
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_shipping_branch_name", shipData[i].shipping_info.shipping_branch_name);
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_shipping_branch_code", shipData[i].shipping_info.shipping_branch_code);
                    CNPrint.SET_PRINT_CONTENT("ali_waybill_ext_send_date", shipData[i].send_date); // 发件日期
                    //CNPrint.SET_PRINT_CONTENT("ali_waybill_ext_sf_biz_type","顺丰特惠"); // 业务类型(顺丰
                    //CNPrint.SET_PRINT_CONTENT("ali_waybill_shipping_address_city",shipData[i].shipping_info.trade_order_info.consignee_address.city＋shipData); // 发件城市(中国邮政)
                    //CNPrint.SET_PRINT_CONTENT("ali_waybill_service","ali_waybill_serv_dest_amount=100 元;ali_waybill_serv_cod_amount=200 元");
                    //CNPrint.SET_PRINT_CONTENT("item_name ","眼镜");// 
                    //
                    CNPrint.ADD_PRINT_TEXT('155mm', '5mm', '100mm', '10mm', shipData[i].buyer_goods_no + ',' + shipData[i].sku_serialize + "*" + shipData[i].goods_num);
                    CNPrint.ADD_PRINT_TEXT('165mm', '5mm', '100mm', '10mm', "合计：" + shipData[i].goods_num + "；[全]");
                    CNPrint.ADD_PRINT_TEXT('175mm', '5mm', '45mm', '5mm', shipData[i].order_sn);
                    CNPrint.ADD_PRINT_TEXT('170mm', '50mm', '45mm', '5mm', shipData[i].shipping_info.shipping_branch_name + "已验视");
                    CNPrint.NewPageA();
                }

                CNPrint.PREVIEWA();
                //CNPrint.PRINT(); 
            };
//发货
            $('.send_goods').click(function () {
                var str = "<div class='row'> <div class='form-group'>";
                str += "<label>运单号:</label><input type='text' name='assign' id='inputEnter'  class='form-control input-xs' value=''>";
                str += "</div></div>";
                layer.confirm(str, {title: '提醒', btn: ['确定', '取消'], area: ['300px', '200px']}, function () {
                    var val = $('#inputEnter').val();
                    if (val) {
                        sendGoods(val);
                    } else {
                        layer.close();
                        window.location.reload();
                    }
                })
                $('#inputEnter').keydown(function (event) {
                    var e = event || window.event;
                    if (e.keyCode == 13) {
                        sendGoods($(this).val());
                    }

                });
            });

//订单异常
            $('.excep').click(function () {

                var order = new Array(),
                        postData = new Object();
                order[0] = $(this).data('id');
                postData.order_id = order;
                layer.confirm('点击确认后,进入异常状态,请确认', {title: '异常操作', btn: ['确认', '取消']}, function (index) {
                    $.post("{:U('order/excepOrder')}", postData, function (result) {
                        layer.alert(result.message, {btn: ['确定']}, function () {
                            layer.close();
                            location.reload();
                        });
                    });
                });
            });
        });
    </script> 
</block>
