/* 
 * zengli.css
 * create by 创想范
 * date 2016-08-03
 * 公共样式 （包括头部，尾部样式）
 */
/*重置样式 包括html5*/
body, a, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

a {
    text-decoration: none;
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input, textarea, select {
    *font-size: 100%
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

a {
    text-decoration: none;
    outline: none;
    padding: 0px;
    margin: 0;
    cursor: pointer;
    cursor: hand;
    border: none;
}

img {
    display: block;
}

body {
    font-family: "microsoft yahei";
}

input {
    outline: none;
}

input:focus {
    border: 1px solid #ff6537;
}

select {
    outline: none;
}

.tx_c {
    text-align: center;
}

.tx_l {
    text-align: left;
}

.tx_r {
    text-align: right;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.none {
    display: none;
}

.btn {
    cursor: pointer;
    cursor: hand;
    font-size: 14px;
    width: 80px;
    height: 28px;
    color: #fff;
    background: #ff6537;
    border: none;
    border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    behavior: url(css/PIE.css);
}
.btn:hover{background: #F22D00;}
.btn.btn-w {
    border: 1px solid #bbbbbb;
    background: #fff;
    color: #333333;
}
.btn.btn-w:hover{
	background: #DEDEDE;
}

/*index css*/
.header {
    width: 100%;
    min-width: 1360px;
    background-color: #fff
}

/*.top{width: 100%;background: #f5f5f5;height: 31px;border-bottom: 1px solid #d1d7dc;}*/
.top-box {
    margin: 0 auto;
    width: 100%;
}
.top-left {
    width: 50%;
    float: left;
    height: 30px;
    line-height: 30px;
    font-family: "microsoft yahei";
    font-size: 12px;
}
/*.top-left{width:50%;float: left;height: 31px;line-height: 31px;font-family: "microsoft yahei";font-size: 12px;}*/
.top-left .welcome {
    color: #f22e00;
    margin-left: 13px;
}

.top-left a {
    display: block;
    float: left;
    position: relative;
    margin-left: 19px;
    color: #5f5d61;
}

.top-left a:before {
    content: "";
    width: 2px;
    height: 13px;
    background: #d4d4d4;
    position: absolute;
    top: 10px;
    left: -10px;
}

.top-left a span {
    display: block;
    float: left;
}

.top-left .welcome:before {
    display: none;
}

/*.top-left .news-icon {*/
    /*float: left;*/
    /*display: block;*/
    /*margin-right: 7px;*/
    /*width: 20px;*/
    /*height: 31px;*/
    /*background: url('../images/news-icon.png') no-repeat center;*/
/*}*/
.top-left .news-icon {
    float: left;
    display: block;
    margin-right: 7px;
    width: 20px;
    height: 31px;
    background: url('../images/news-icon.png') no-repeat center;
}

.top-left .num-icon {
    display: none;
    float: left;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    color: #fff;
    margin-left: 7px;
    width: 23px;
    height: 31px;
    background: url('../images/num-icon.png') no-repeat 0 3px;
}

.top-left .num-icon.show {
    display: block;
}
/*.top-left .num-icon{float: left; line-height:20px;text-align:center;font-style:normal;color:#fff;display:block;margin-left:7px;width: 23px;height: 31px;background: url('../images/num-icon.png') no-repeat 0 3px;}*/
/*top left*/
.top-right {
    margin-right: 24px;
    float: right;
    height: 31px;
    line-height: 31px;
    font-family: "microsoft yahei";
    font-size: 12px;
}

.top-right a {
    display: block;
    float: left;
    position: relative;
    margin-left: 19px;
    color: #5f5d61;
}

.top-right a:before {
    content: "";
    width: 2px;
    height: 13px;
    background: #d4d4d4;
    position: absolute;
    top: 10px;
    left: -10px;
}

.top-right a:first-child:before {
    display: none;
}

.top-right i {
    float: left;
    margin-top: 8px;
    display: block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    background: url('../images/img.png');
}

.top-right .my-home-icon {
    background-position: 0 -120px;
}

.top-right .my-icon1 {
    background-position: 0 -60px;
}

.top-right .my-icon2 {
    background-position: 0 -105px;
}

.top-right .my-icon3 {
    background-position: 0 -15px;
}

.top-right .my-icon4 {
    background-position: 0 -45px;
}

.top-right .my-supplier-icon {
    background-position: 0 -155px;
}

.top-right.moseover a:hover .my-home-icon {
    background-position: 0 -137px;
}

.top-right.moseover a:hover .my-icon1 {
    background-position: 0 -75px;
}

.top-right.moseover a:hover .my-icon2 {
    background-position: 0 -90px;
}

.top-right.moseover a:hover .my-icon3 {
    background-position: 0 0;
}

.top-right.moseover a:hover .my-icon4 {
    background-position: 0 -30px;
}

.top-right.moseover a:hover .my-supplier-icon {
    background-position: 0 -174px;
}

.top-right.moseover a:hover {
    color: #fe6322;
}

/*top right*/

/*capital 资金明细*/
.capital {
    width: 100%;
    min-width: 1360px;
}

.capital-head {
    width: 100%;
    margin-bottom: 10px;
}

.capital-logo {
    display: block;
    float: left;
    width: 204px;
    height: 85px;
    background: url(../images/logo.png) no-repeat center;
    margin-left: 15px;
    margin-top: 10px;
}

.capital-msg {
    float: left;
}

.logo-line {
    display: block;
    float: left;
    width: 2px;
    height: 64px;
    background: #e8e8e8;
    margin-left: 13px;
    margin-top: 34px;
    margin-right: 34px;
}

.capital-msg {
    float: left;
    margin-top: 36px;
}

.capital-msg p span#user_level {
    color: #3388ff;
    font-size: 14px;
    margin-left: 23px;
    margin-right: 20px;
}

.capital-msg p span {
    font-size: 14px;
    color: #515567;
}

.capital-msg p strong {
    color: #ff6537;
    font-size: 14px;
    display: inline;
    display: inline-block
}

.capital-msg p .reflect {
    margin-left: 14px;
}

.capital-msg p:first-child {
    margin-bottom: 3px;
}

.capital-box {
    width: 100%;
    min-width: 1360px;
}

.capital-nav {
    float: left;
    width: 89px;
    height: 640px;
    border: 1px solid #f94a14;
    position: relative;
}

.capital-nav ul {
    background: #ff6537;
    height: 640px;
}

.capital-nav ul > li {
    width: 89px;
    height: 65px;
    text-align: left;
    line-height: 65px;
}

.capital-nav ul > li > a {
    display: block;
}

.capital-nav ul > li > a > i {
    margin: 0 7px;
    vertical-align: middle;
    text-align: center;
    background: #ff6537;
    display: inline;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    -ms-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
    behavior: url(css/PIE.css);
}

.capital-nav ul > li > a > i > span {
    margin-top: 5px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    display: block;
}

.capital-nav ul > li > a > i > span.user_home {
    background: transparent url("../images/usericon.png") no-repeat 0 -81px;
}

.capital-nav ul > li > a > i > span.user_shop {
    background: transparent url("../images/usericon.png") no-repeat 0 -64px;
}

.capital-nav ul > li > a > i > span.user_order {
    background: transparent url("../images/usericon.png") no-repeat 0 -113px;
}

.capital-nav ul > li > a > i > span.user_collect {
    background: transparent url("../images/usericon.png") no-repeat 0 -97px;
}

.capital-nav ul > li > a > i > span.user_account {
    background: transparent url("../images/usericon.png") no-repeat 0 -1px;
}

.capital-nav ul > li > a > i > span.user_finance {
    background: transparent url("../images/usericon.png") no-repeat 0 -16px;
}

.capital-nav ul > li > a > i > span.user_setting {
    background: transparent url("../images/usericon.png") no-repeat 0 -34px;
}

.capital-nav ul > li:hover {
    background: #e6e6e6;
}

.capital-nav ul > li:hover a {
    color: #ff6537;
}

.capital-nav ul > li > a {
    color: #fff;
    font-size: 14px;
}

.capital-nav ul > li.active {
    background: #fff;
}

.capital-nav ul > li.active > a {
    color: #ff6537;
}

.nav-sm {
    width: 110px;
    border: 1px solid #d5d5dd;
    border-bottom: none;
    height: 640px;
    float: left;
    display: none;
}

.nav-sm.current {
    display: block;
}

.nav-sm-li {
    height: 49px;
    width: 100%;
    line-height: 49px;
    text-align: center;
}

.nav-sm-li i {
    vertical-align: middle;
    display: inline;
    display: inline-block;
    margin: 0 5px;
}

.nav-sm-li a {
    vertical-align: middle;
    font-size: 14px;
    color: #666666;
}

.nav-sm-li:hover a {
    color: #ff6537;
}

.nav-sm-li.act a {
    color: #ff6537;
}

.capital-body {
    /*position: relative;*/
}

.capital-cont {
    float: left;
    border-top: 1px solid #d5d5dd;
    height: 640px;
    position: absolute;
    left: 203px;
    right: 190px;
}

.cont-box-title {
    height: 48px;
    /*border-top: 1px solid #d3d7da;*/
    line-height: 48px;
    font-size: 14px;
    background: #f1f1f1;
}

.btn-search-center {
    width: 60px;
    height: 28px;
}

.cont-box-title span {
    font-size: 14px;
    color: #333333;
    margin-left: 1.0%;
}

.cont-box-title select {
    width: 126px;
    height: 30px;
    font-size: 14px;
    color: #999999;
}

.cont-box-title select {
    border: 1px solid #dddddd;
}

.cont-box-title input {
    width: 92px;
    height: 30px;
    border: 1px solid #dddddd;
    padding-left: 8px;
}

.cont-box-title .keyword {
    width: 170px;
    height: 30px;
    border: 1px solid #dddddd;
    padding-left: 8px;
}

.cont-box-body {
    overflow-y: auto;
    height: 521px;
}

.cont-box {
    height: 640px;
}

.cont-box-body table {
    border-bottom: 1px solid #d3d7da;
    border-top: 1px solid #d3d7da;
    width: 100%;
    font-size: 14px;
    color: #333333;
}

.cont-box-body table tr {
    border-bottom: 1px solid #d3d7da;
}

.cont-box-body table th {
    height: 36px;
    text-align: center;
    background: #f8f8f8;
    font-size: 12px;
}

.cont-box-body table td {
    height: 68px;
    text-align: center;
    font-size: 12px;
}

.cont-box-body table td .coll-goodsname {
    color: #333333;
}

.cont-box-body table td .collcet-img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.cont-box-body table th span {
    font-size: 12px;
    color: #999999;
}

.cont-box-body table td span a {
    color: #3095ec;
    font-size: 12px;
}

#handle span {
    color: #3095ec;
    font-size: 12px;
    cursor: pointer;
}

#handle span:hover {
    color: #f40;
}

.cont-box-body table tr:hover {
    background: #f8fbff;
}

.cont-box-body table tr:first-child:hover {
    background: #f8f8f8;
}

/*.cont-box-body table td span{display: inline;display: inline-block;width: 100%;}*/
.cont-box-body table .other_sn_l > span {
    display: inline;
}

.cont-box-body table .account {
    width: 18%;
}

.cont-box-body table td i {
    margin-left: 16px;
    margin-right: 15px;
    margin-top: 15px;
    display: inline;
    display: inline-block;
    width: 12px;
    height: 39px;
    background: url(../images/capital/sx-img.png) no-repeat center;
    float: left;
}

.cont-box-body table td p {
    color: #999999;
    
}
.cont-box-body table td .openStock{
	text-decoration: underline;
	color: #007EF3;
	cursor: pointer;
}
/*.cont-box-body table td input{float: left;margin-left: 29px;}*/

.cont-box-foot {
    height: 69px;
    border-top: 1px solid #d5d5dd;
    font-size: 14px;
}

.cont-box-foot-lf {
    width: 50%;
    float: left;
}

.cont-box-foot-lf input {
    margin-left: 21px;
    margin-top: 17px;
}

.cont-box-foot-rf {
    float: left;
    text-align: right;
    width: 50%;
    margin-top: 15px;
}

.cont-box-foot-rf a {
    text-decoration: underline;
    color: #3388ff;
}

.cont-box-foot-rf input {
    margin-left: 14px;
}

.cont-box-foot-rf .last-btn {
    margin-right: 14px;
}

.capital-notice {
    height: 640px;
    width: 190px;
    float: right;
    border: 1px solid #d3d7da;
    border-bottom: none;
    font-family: "microsoft yahei";
}

.news {
    margin: 20px 27px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 9px;
    text-align: center;
    font-size: 18px;
}

.news i {
    vertical-align: middle;
    margin-right: 9px;
    display: inline;
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url(../images/capital/news-icon.png) no-repeat center;
}

.notice-text {
    font-size: 14px;
}

.notice-news {
    height: 226px;
}

.notice-text ul {
    margin-left: 20px;
    list-style-image: url(../images/capital/list-icon.png);
}

.notice-text ul li {
    line-height: 26px;
}

.notice-text ul li a {
    color: #333333;
}

.notice-text ul li a:hover {
    color: #3388ff;
}

.notice-affiche {
    height: 413px;
    border-top: 1px solid #d3d7da;
}

.notice-affiche .news i {
    width: 26px;
    height: 18px;
    background: url(../images/capital/news-icon2.png) no-repeat center;
}

.notice-text p {
    font-size: 12px;
    color: #999999;
    line-height: 24px;
}

/*footer*/
.capital-footer {
    background: #f5f5f5;
    height: 55px;
    border-top: 1px solid #d5d5dd;
    width: 100%;
    min-width: 1360px;
}

.capital-footer p {
    margin-top: 19px;
    color: #999999;
    font-size: 12px;
    font-family: "microsoft yahei";
    text-align: center;
}

/*账户设置*/
.title-box {
    float: left;
    width: 50%;
}

/*弹窗*/
.PopBody ul li {
    height: 48px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    line-height: 48px;
}

/*账户设置*/
.cont-box-text {
    line-height: 40px;
    padding-left: 50px;
    height: 40px;
    margin: 20px 0;
    font-family: "microsoft yahei";
    font-size: 14px;
}

.cont-box-text span {
    display: inline;
    display: inline-block;
    width: 100px;
    text-align: right;
}

.cont-box-text span#up_level_name {
    text-align: left;
}

.cont-box-text strong {
    display: inline;
    display: inline-block;
    padding-left: 20px;
    margin-right: 40px;
}

.state {
    font-style: normal;
    color: #2abf1d;
    margin-right: 37px;
}

.amend {
    color: #ff6537;
}

.bg-color {
    background: #f8f8f8;
}

.cont-box-title h2 {
    border-bottom: 2px solid #ff6537;
    padding-left: 49px;
    color: #ff6537;
    font-size: 20px;
    background: url(../images/userCenter/user-center-icon1.png) no-repeat 16px
}

.change-box {
    padding: 20px;
    width: 445px;
    height: 225px;
    box-shadow: 0 0 10px #999999;
    -webkit-box-shadow: 0 0 10px #999999;
    -ms-box-shadow: 0 0 10px #999999;
    -o-box-shadow: 0 0 10px #999999;
    -moz-box-shadow: 0 0 10px #999999;
    behavior: url(css/PIE.htc);
}

/*修改支付密码*/
.cont-box-title .change {
    border-bottom: 2px solid #ff6537;
    padding-left: 30px;
    color: #ff6537;
    font-size: 20px;
    background: url(../images/userCenter/user-center-icon2.png) no-repeat 16px
}

.change-box.user-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -222.5px;
    margin-top: -191.5px;
    padding: 20px;
    width: 445px;
    height: 225px;
    box-shadow: 0 0 10px #999999;
    -webkit-box-shadow: 0 0 10px #999999;
    -ms-box-shadow: 0 0 10px #999999;
    -o-box-shadow: 0 0 10px #999999;
    -moz-box-shadow: 0 0 10px #999999;
    behavior: url(css/PIE.htc);
}

.change-cont {
    width: 100%;
    height: 640px;
    position: relative;
}

.change-box label {
    display: block;
    width: 415px;
    margin: 0 auto;
    margin-top: 25px;
}

.btn.pre-btn {
    width: 138px;
    height: 33px;
    border: 1px solid #f2cbb7;
    background-color: #ffe5d1;
    color: #ff6537;
    font-size: 18px;
}

.btn.next-btn {
    width: 138px;
    height: 33px;
    font-size: 18px;
    margin-left: 10px;
}

/*安全验证*/
.change-box.safety {
    font-size: 14px;
}

.verify {
    font-size: 14px;
    width: 360px;
    height: 98px;
    border: 1px solid #f7b488;
    margin: 0 auto;
    margin-top: 17px;
}

.verify p:first {
    margin-top: 25px;
}

.verify p {
    margin-top: 18px;
    margin-left: 14px;
}

.verify strong {
    margin-left: 37px;
}

.change-box.safety {
    padding: 0;
    width: 495px;
    height: 265px;
}

.change-box.safety label {
    margin-top: 20px;
}

.change-box.safety label span {
    display: inline;
    display: inline-block;
    width: 100px;
    text-align: right;
    float: left;
}

.change-box.safety label a {
    color: #666666;
    margin-left: 15px;
}

.change-box.safety .btn {
    margin-left: 100px;
}

.change-box.safety .change-code {
    height: 30px;
    line-height: 30px;
    border: 1px solid #e1e1e1;
}

.change-box.safety .add-code {
    height: 30px;
    line-height: 30px;
}

/*版本升级*/
.cont-box-text.bg-color .price-icon {
    margin-right: 7px;
    float: left;
    display: inline;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-top: 15px;
}

.cont-box-text.bg-color strong {
    color: #56abe4;
}

.cont-box-text select {
    border: 1px solid #dddddd;
    color: #999999;
    margin-left: 20px;
}

.cont-box-text .price {
    color: #f06a11;
    width: 150px;
    text-align: left;
    margin-left: 20px;
}

.cont-box-text .price i {
    color: #f06a11;
    font-style: normal;
}

.cont-box-text.bg-color .up-price {
    color: #f06a11;
    text-align: left;
    width: 150px;
}

.cont-box-text.bg-color .up-price i {
    color: #f06a11;
    font-style: normal;
}

.btn.btn-up {
    width: 140px;
    height: 35px;
    margin-left: 120px;
    margin-top: 20px;
}

/*售后管理*/
.title-box.sale-tab a {
    margin: 0 0.7%;
    color: #333333;
}

.title-box.sale-tab a:hover {
    color: #ff6537;
}

.title-box.sale-tab a.select {
    color: #ff6537;
}

.title-box.title-search {
    text-align: right;
}

.title-box.title-search .btn.btn-search {
    margin-right: 0.7%;
}

.cont-box-body table .sm-tab-title {
    height: 28px;
    background: #eff4fa;
}

.cont-box-body table .sm-tab-title td {
    height: 28px;
}

.cont-box-body table td .hue {
    color: #2abf1d;
}

.cont-box-body table td a {
    color: #4ca3ef;
}

/*开通账户*/
.btn.btn-open {
    width: 71px;
    height: 28px;
    font-size: 14px;
}

/*开通新账户*/
.cont-box-text .open-price {
    color: #ff6537;
}

.cont-box-text .open-price strong {
    color: #999999;
}

.cont-box-text .open-price strong b {
    color: #ff6537;
}

.cont-box-text .hint {
    width: 150px;
    color: #ff6537;
    font-size: 12px;
    text-align: left;
}

.leave {
    width: 491px;
    height: 157px;
    border: 1px solid #dddddd;
    display: block;
    margin-left: 7%;
    resize: none;
}

.cont-box-body.open .cont-box-text {
    margin: 0;
}

.cont-box-text.open-btn .btn.btn-up {
    margin-left: 33%;
}

/*会员中心  首页*/
/*.capital-cont.without{left: 91px;}*/
.capital-cont-box {
    padding-left: 4.4%;
    padding-right: 4.4%;
    padding-top: 33px;
}

.information-box {
    padding-bottom: 18px;
    border-bottom: 1px dashed #eeeeee;
}

.information {
    float: left;
    width: 40%;
    font-size: 14px;
}

.shop {
    float: left;
    width: 40%;
    padding-left: 3.9%;
    font-size: 14px
}

.information h2 {
    position: relative;
    font-weight: bold;
    color: #333333;
}

.information h2:before {
    content: "";
    width: 3px;
    height: 15px;
    background: #ff6537;
    position: absolute;
    left: -10px;
    top: 3px;
}

.information h2 span {
    font-weight: normal;
    font-size: 12px;
    margin-left: 8px;
    color: #999999;
}

.VIP {
    display: inline;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../images/userCenter/VIP.png) no-repeat center;
    margin: 0 3px;
}

.information p {
    color: #333333;
    padding: 5px 0;
    background: url(../images/userCenter/shop-bg.png) no-repeat right;
}

.information p strong {
    padding: 5px 0;
    border-bottom: 1px solid #EEEEEE;
}

.user-email {
    display: inline;
    display: inline-block;
    width: 18px;
    height: 12px;
    background: url(../images/userCenter/email.png) no-repeat center;
    margin: 0 6px;
}

.telphone {
    display: inline;
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url(../images/userCenter/phone.png) no-repeat center;
    margin: 0 6px;
}

.money {
    display: inline;
    display: inline-block;
    width: 20px;
    height: 13px;
    background: url(../images/userCenter/money.png) no-repeat center;
    margin: 0 6px;
}

.shop h2 {
    position: relative;
    font-weight: bold;
    color: #333333;
}

.shop h2 span {
    margin: 0 15px;
    font-weight: normal;
}

.shop h2 span b {
    font-weight: normal;
}

.shop h2 a {
    display: inline;
    display: inline-block;
    width: 38px;
    height: 18px;
    border: 1px solid #eeeeee;
    background: #ff8d00;
    color: #fff;
    text-align: center;
    line-height: 18px;
}
.shop h2 a:hover{
	background: #F22D00;
}

.shop p {
    margin: 6px 0;
}

.shop-name {
    display: inline;
    display: inline-block;
    width: 17px;
    height: 15px;
    background: url(../images/userCenter/shop-name.png) no-repeat center;
    margin: 0 6px;
}

/*店铺概况*/
.shop-survey-box {
    font-family: "microsoft yahei";
    font-size: 14px;
    padding-bottom: 22px;
    border-bottom: 1px solid #cccccc;
}

.shop-survey {
    margin-top: 20px;
    border: 1px solid #f06a11;
    padding: 14px 4.7%;
}

.shop-num {
    float: left;
    width: 50%;
}

.shop-num h3 {
    font-weight: bold;
    position: relative;
    color: #333333;
}

.shop-num h3:before {
    content: '';
    width: 3px;
    height: 15px;
    background: #ff6537;
    position: absolute;
    top: 1px;
    left: -10px;
}

.shop-survey-name {
    float: left;
    width: 50%;
}

.shop-num p {
    margin-left: 1.25%;
    margin-top: 16px;
}

.shop-dw {
    display: inline;
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    height: 17px;
    background: url(../images/userCenter/shop-down.png) no-repeat center;
    margin: 0 10px;
}

.shop-up {
    display: inline;
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    height: 17px;
    background: url(../images/userCenter/shop-up.png) no-repeat center;
    margin: 0 10px;
}

.shop-survey-name p i {
    display: inline;
    display: inline-block;
    width: 17px;
    height: 15px;
    background: url(../images/userCenter/shop-name.png) no-repeat center;
    margin: 0 6px;
}

.shop-survey-name p {
    margin-top: 12px;
}

.shop-survey-name p a {
    display: inline;
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    height: 19px;
    border: 1px solid #eeeeee;
    margin-left: 10px;
    color: #56abe4;
    text-align: center;
    line-height: 19px;
}

.shop-indent {
    padding-top: 10px;
    padding-left: 2.2%;
}

.shop-indent-lf {
    float: left;
    width: 50%;
}

.shop-indent-rf {
    float: left;
    width: 50%;
}

.shop-indent ul {
    list-style-image: url(../images/userCenter/shop-circle.png);
    margin-left: 15px;
}

.shop-indent ul li {
    font-size: 14px;
    margin: 10px 0;
}

.shop-indent ul li strong {
    color: #fe511d;
}

.user-ad {
    margin-left: 1.1%;
    margin-right: 1.1%;
    margin-top: 40px;
}

.user-ad img {
    width: 100%;
    height: auto;
}

/*售后详情*/
.PopDetails {
    display: inline;
    display: inline-block;
    width: 19px;
    height: 21px;
    background: url(../images/userCenter/PopDetails.png) no-repeat center;
    vertical-align: middle;
    margin-right: 14px;
}

.PopBody.PopBodyDetails {
    overflow-y: scroll;
    width: 607;
    height: 506px;
}

.popbox {
    border: 1px solid #eeeeee;
    font-size: 14px;
    margin-left: 50px;
    width: 545px;
    height: 54px;
    background: #f8fbff;
    margin-top: 9px;
}

.popbox-lf {
    float: left;
    width: 45%;
    margin-top: 7px;
    padding-left: 27px;
}

.popbox-rf {
    float: left;
    width: 45%;
    margin-top: 7px;
    padding-left: 27px;
}

.popbox-lf p, .popbox-rf p {
    margin-bottom: 7px;
}

.popbox-lf p span, .popbox-rf p span {
    color: #ff6537;
}

.popbox-rf p .order-num {
    color: #666666;
}

.popbox-body {
    border: 1px solid #eeeeee;
    font-size: 14px;
    width: 545px;
    margin-top: 12px;
    margin-left: 50px;
    background: #f8fbff;
}

.popbox-body h2 {
    font-weight: bold;
    margin-top: 6px;
    margin-left: 25px;
    font-size: 16px;
    color: #333333;
    position: relative;
}

.popbox-body h2:before {
    content: '';
    width: 4px;
    height: 11px;
    position: absolute;
    top: 5px;
    left: -10px;
    background: #ff6537;
}

.pop-information {
    margin-left: 25px;
    margin-top: 15px;
}

.information-lf {
    float: left;
    width: 50%;
}

.information-lf p {
    line-height: 26px;
    color: #333333;
}

.information-num {
    margin-right: 18px;
}

.information-rf {
    float: left;
    width: 50%;
}

.information-rf p {
    line-height: 26px;
    color: #333333;
}

.information-mag {
    margin-top: 12px;
}

.information-img {
    margin-top: 12px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.information-img img {
    display: inline;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    width: 68px;
    height: 68px;
}

.information-img a {
    position: relative;
    display: inline;
    display: inline-block;
}

.information-img a i {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    display: inline;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ff6537;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    behavior: url(css/PIE.htc);
    text-align: center;
    line-height: 10px;
}

.information-words {
    margin-left: 50px;
    margin-bottom: 8px;
}

.information-words h2 {
    font-weight: bold;
    margin-top: 6px;
    margin-left: 25px;
    font-size: 16px;
    color: #333333;
    position: relative;
}

.information-words h2:before {
    content: '';
    width: 4px;
    height: 11px;
    position: absolute;
    top: 5px;
    left: -10px;
    background: #ff6537;
}

.information-words textarea {
    width: 463px;
    height: 68px;
    border: 1px solid #e5e5e5;
    resize: none;
    margin-left: 25px;
    margin-top: 13px;
    outline: none;
    color: #333333;
    font-family: "microsoft yahei";
    font-size: 14px;
}

/*申请提现*/
.PopBody {
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #666666;
}

.PopBody > p {
    margin: 0 auto;
    width: 480px;
    height: 40px;
    line-height: 40px;
}

.PopBody > p > span {
    width: 150px;
    text-align: right;
    display: inline;
    display: inline-block;
}

.PopBody > p > strong {
    margin-right: 30px;
}

.PopBody > p > b {
    color: #ff6537;
    font-style: normal;
    font-weight: normal;
    margin-left: 3px;
}

.PopBody > p > input:focus {
    border: 1px solid #ff6537;
}

.PopBody > p > input {
    margin-right: 15px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #dddddd;
    width: 215px;
}

.PopBody > p > .short-input {
    width: 65px;
}

.popverify-box {
    width: 480px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}

.popverify-box span {
    width: 150px;
    text-align: right;
    display: inline;
    display: inline-block;
    float: left;
}

.PopBody > .pop-btn {
    text-align: center;
}

.PopBody > .pop-btn > .btn {
    width: 140px;
    height: 35px;
    margin: 20px 0;
}

.PopBody.deposit {
    overflow-y: hidden;
    height: 320px
}

#deposit {
    display: none;
}

#deposit.show {
    display: inline-block;
}

/*申请售后*/
.btn.btn-disabled {
    width: 50px;
    height: 32px;
    background: #fff;
    color: #999999;
    border: 1px solid #cccccc;
}

.btn-box {
    text-align: center;
}

.btn-box .btn.btn-updata {
    width: 140px;
    height: 35px;
    font-size: 18px;
}

/*订单详情*/
.popbox.poporder {
    background: #f8f9fa;
    width: 855px;
    height: 81px;
    margin-left: 32px;
}

.popbox.poporder p {
    position: relative;
    margin-top: 12px;
}

.popbox.poporder p:before {
    content: "";
    width: 4px;
    height: 15px;
    background: #ff7e00;
    position: absolute;
    top: 2px;
    left: -10px;
}

.popbox-body.popdeliver {
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 855px;
    margin-left: 32px;
    background: url(../images/userCenter/dliver-bg.png) no-repeat top;
}

.popbox-body.popdeliver h3 {
    font-size: 18px;
    color: #333333;
    margin-left: 25px;
    margin-top: 18px;
}

.popbox-body.popdeliver h2 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 15px;
    color: #333333;
}

.popbox-body.popdeliver h2:before {
    content: '';
    width: 4px;
    background: #ff7e00;
    height: 15px;
    position: absolute;
    top: 2px;
    left: -10px;
}

.info-box {
    margin-right: 12px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dadada;
}

.popgoods-info {
    font-size: 14px;
}

.popgoods-info dt {
    margin: 5px 0;
}

.popgoods-info dd {
    padding: 5px 13px;
    margin-right: 12px;
}

.popgoods-info dd:hover {
    background: #eff4fa;
    border: 1px solid #eeeeee;
}

.popgoods-lf {
    float: left;
    width: 50%;
}

.popgoods-rf {
    float: left;
    width: 50%;
}

.img-box {
    float: left;
}

.img-box a {
    display: block;
}

.img-box a img {
    width: 50px;
}

.poptext-box {
    float: left;
    width: 250px;
    margin-left: 7px;
}

.poptext-box h5 {
    line-height: 16px;
    color: #333333;
}

.poptext-box p {
    color: #9c9c9c;
}

.sm-info {
    color: #9c9c9c;
}

.sm-info span {
    margin-right: 25px;
}

.popgoods-rf p {
    color: #333333;
}

.popgoods-rf p span {
    display: inline;
    display: inline-block;
    width: 80px;
    text-align: left;
}

.popgoods-rf p strong {
    margin-left: 67px;
}

/*安全认证*/
.PopDiv.Security_yz {
    width: 594px;
    min-width: 594px;
    margin: 200px auto 0;
}

.Security_yz .PopBody {
    padding: 29px 0 0 97px;
}

.Security_yz .p-username {
    padding-left: 13px;
    color: #padding-left: 13px;;
}

.Security_yz .p-username > span {
    color: #666666;
    margin-left: 12px;
}

.Security_yz .mark-secVerify {
    padding: 11px 13px;
    width: 337px;
    margin-top: 18px;
}

.Security_yz .mark-secVerify > p {
    height: 34px;
    line-height: 34px;
}

.Security_yz .mark-secVerify input {
    border: 1px solid #f27929;
    outline: none;
    vertical-align: middle;
    margin-right: 10px;
}

.Security_yz .mark-secVerify > p > span {
    color: #666666;
    margin-left: 46px;
}

.Security_yz .sec-code {
    padding-left: 13px;
    margin-top: 8px;
}

.Security_yz .sec-code > input {
    margin: 0 14px 0 7px;
    height: 30px;
    width: 162px;
    padding: 0 10px;
    border: 1px solid #dddddd;
    outline: none;
    resize: none;
}

.Security_yz .sec-code > span {
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
    display: inline-block;
    padding: 8px;
    background-color: #f40;
}

/*add*/
.PopDiv.pay-pop {
    margin: 20px auto 0;
}

.change-box .s-code {
    margin: 0 14px 0 7px;
    height: 30px;
    width: 162px;
    padding: 0 10px;
    border: 1px solid #dddddd;
    outline: none;
    resize: none;
}
.change-box .s-send {
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
    display: inline-block;
    padding: 8px;
    background-color: #f40;
}

.pay-pop .PopBody {
    padding: 29px 0 0 97px;
}

.pay-pop .p-username {
    padding-left: 13px;
}

.pay-pop .p-username > span {
    color: #666666;
    margin-left: 12px;
}

.pay-pop .mark-secVerify {
    padding: 11px 13px;
    width: 337px;
    margin-top: 18px;
}

.pay-pop .mark-secVerify > p {
    height: 34px;
    line-height: 34px;
}

.pay-pop .mark-secVerify input {
    border: 1px solid #f27929;
    outline: none;
    vertical-align: middle;
    margin-right: 10px;
}

.pay-pop .mark-secVerify > p > span {
    color: #666666;
    margin-left: 46px;
}

.pay-pop .sec-code {
    padding-left: 13px;
    margin-top: 8px;
}

.pay-pop .sec-code > input {
    margin: 0 14px 0 7px;
    height: 30px;
    width: 162px;
    padding: 0 10px;
    border: 1px solid #dddddd;
    outline: none;
    resize: none;
}

.pay-pop .sec-code > span {
    color: #666666;
    cursor: pointer;
}

.sor-wrapper {
    width: 1360px;
    margin: 0 auto;
}

.sor-wrapper-box {
    width: 1360px;
    margin: 0 auto;
}

.sor-banner {
    height: 557px;
    width: 1360px;
    position: relative;
    z-index: -1;
}

.sor-banner img {
    100%
}

#download {
    display: inline-block !important;
    width: 242px;
    height: 80px;
    color: #fff;
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    bottom: 44px;
    left: 790px;
    text-align: center;
    line-height: 78px;
    z-index: 9999;
    /*background-color: red;*/
   background: url('http://maihoho.b0.upaiyun.com//top/5397168442549849692.png') no-repeat center;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -ms-border-radius: 5px;
   -moz-border-radius: 5px;
   behavior: url(css/PIE.htc);
}
#download:hover{
	background: url('http://maihoho.b0.upaiyun.com//top/5576244893024473108.png') no-repeat center;
}
.sor-goods {
    /*height: 344px;*/
    width: 100%;
    min-width: 1360px;
    background: url(../images/qwr.png) no-repeat center;
}
.sor-goods img, .sor-shop img, .sor-last img, .sor-yb img {
    width: 100%;
    height: auto;
}

.sor-shop {
    /*height: 342px;*/
    width: 100%;
    min-width: 1360px;
    background: url(../images/qwt.png) no-repeat center;
}

.sor-yb {
    /*height: 498px;*/
    width: 100%;
    min-width: 1360px;
    background: url(../images/qwu.jpg) no-repeat center;
}

.sor-last {
    /*height: 343px;*/
    width: 100%;
    min-width: 1360px;
    background: url(../images/qwy.png) no-repeat center;
}

/*vision*/
.versions {
    width: 100%;
    min-width: 1360px;
}

.v-produce {
    width: 100%;
    background: #fefefe;
    min-width: 1360px;
    padding: 32px 0;
    margin-bottom: 32px;
}

.table-box {
    overflow: hidden;
    width: 1360px;
    margin: 0 auto;
    border: 1px solid #d5d5dd;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    behavior: url(css/PIE.htc);
}

.table-box table {
    width: 100%;
    height: 100%;
    border: none;
}

.table-box table th {
    background: #ff6537;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 59px;
    text-align: center;
}

.table-box table .table-box-th1 {
    width: 137px;
}

.table-box table .table-box-th2 {
    width: 193px;
}

.table-box table .table-box-th3 {
    width: 193px;
}

.table-box table .table-box-th4 {
    width: 413px;
}

.table-box table .table-box-th5 {
    width: 413px;
}

.table-box table td {
    border: 1px solid #d5d5dd;
    height: 138px;
    font-size: 14px;
    color: #343434;
}

.table-box table .table-box-td1 {
    text-align: center;
}

.table-box table .table-box-td2 {
    text-align: center;
}

.table-box table td p {
    padding: 0 25px;
    line-height: 24px;
}

.table-box table .table-box-td3 {
    padding: 0 12px;
    line-height: 26px;
}

/*table*/
.v-service {
    width: 100%;
    min-width: 1360px;
    background: #efeef2;
    padding-top: 44px;
    padding-bottom: 82px;
}

.service.table-box table th {
    width: 25%;
}

.service.table-box table td {
    height: 32px;
    text-align: center;
    background: #fff;
}

.v-pt {
    width: 100%;
    height: 689px;
    background: url(../images/01.jpg) no-repeat center;
}

.v-pt2 {
    width: 100%;
    height: 494px;
    background: url(../images/02.jpg) no-repeat center;
}

.v-pt3 {
    width: 100%;
    height: 600px;
    background: url(../images/03.jpg) no-repeat center;
}

.v-pt4 {
    width: 100%;
    height: 414px;
    background: url(../images/04.jpg) no-repeat center;
}

.v-pt5 {
    width: 100%;
    height: 590px;
    background: url(../images/05.jpg) no-repeat center;
}

.v-pt6 {
    width: 100%;
    height: 572px;
    background: url(../images/06.jpg) no-repeat center;
}

.v-pt7 {
    width: 100%;
    height: 454px;
    background: url(../images/07.jpg) no-repeat center;
}

.v-pt8 {
    width: 100%;
    height: 448px;
    background: url(../images/08.jpg) no-repeat center;
}

.v-pt-btn {
    text-align: center;
}

.v-pt-btn p {
    margin-top: 55px;
    color: #333333;
    font-size: 26px;
}

.v-pt-btn a {
    display: block;
    margin: 40px auto;
    width: 230px;
    height: 72px;
    border-bottom: 5px solid #3c948b;
    background: #38c482;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    line-height: 72px;
    text-align: center;
}

/*add*/
#saleStatus input {
    float: left;
    margin-left: 15px;
}


/*!**各种中心自适应**!*/
/*.header {*/
    /*height: 31px;*/
    /*top:0;*/
    /*position: absolute;*/
/*}*/
/*.capital-footer {*/
    /*height: 55px;*/
    /*bottom:0;*/
    /*position: absolute;*/
/*}*/
/*.capital {*/
    /*width:100%;*/
    /*background:#f7f7f7;*/
    /*overflow:hidden;*/
    /*top:31px;*/
    /*bottom:55px;*/
    /*position:absolute;*/
    /*z-index:99;*/
    /*_height:100%;*/
    /*_border-top:31px solid #eee;*/
    /*_border-bottom:55px solid #eee;*/
    /*_top:0;*/
/*}*/
/*.capital-box {*/
    /*width: 100%;*/
    /*min-width: 1360px;*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 0;*/
    /*bottom: 0;*/
/*}*/
/*.capital-notice, .capital-nav, .nav-sm {*/
    /*height: 100%;*/
/*}*/
/*.capital-nav {*/
    /*background-color: #ff6537;*/
/*}*/
/*.capital-cont, .cont-box {*/
    /*height: 100%;*/
    /*!*position: absolute;*!*/
/*}*/
/*.cont-box-title, .cont-box-foot {*/
    /*width:100%;*/
    /*position:absolute;*/
    /*z-index:100;*/
/*}*/
/*.cont-box-title {*/
    /*height: 48px;*/
    /*top:0;*/
/*}*/
/*.cont-box-foot {*/
    /*height: 60px;*/
    /*bottom: 0;*/
    /*background-color: #fff;*/
/*}*/
/*.cont-box-body {*/
    /*width:100%;*/
    /*background:#f7f7f7;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*height: 100%;*/
    /*top:48px;*/
    /*bottom:60px;*/
    /*position:absolute;*/
    /*z-index:99;*/
    /*_height:100%;*/
    /*_border-top:48px solid #eee;*/
    /*_border-bottom:79px solid #eee;*/
    /*_top:0;*/
/*}*/

/*add*/
#pay-pop{font-size: 14px;}
#pay-pop .pay-name{width: 85px;text-align: right;display: inline;display: inline-block;}
#pay-pop .pay-user{margin-left: 10px;}
#next{outline: none;border: none;background-color: #ff6537;color: #fff;font-size: 18px;padding: 5px 25px;border-radius: 5px;cursor: pointer;font-family: "微软雅黑"}
.pay-next-btn{text-align: center;}

/*订单详情*/
.popgoods-info table{width: 100%;}
.popgoods-info table td img{width:100px;}
.popgoods-info table td{text-align: center;}
.popgoods-info-title{width: 160px;line-height: 20px;margin-left: 10px;text-align: left;}
.popgoods-info table td p{line-height: 20px;text-align: left;}
.popgoods-info table th{background: #f2f2f2;text-align: center;font-size: 14px;color: #333333;height: 23px;}
.sm-money{color: #ff6537;}
.order-list-text-lf{float: left;margin-left: 30px;}
.order-list-text-rf{float: left;margin-left: 150px;margin-top: 25px;}
.order-list-text{margin-bottom: 25px;}
.order-list-text-lf textarea{vertical-align: top;width: 404px;height: 120px;resize: none;outline: none;}
.order-list-text-rf>p{line-height: 34px;color: #666666;font-size: 14px;}
.order-list-text-rf>p>span{color: #ff6537;margin: 0 5px;}
.order-list-text-rf>p>.to-money{font-size: 24px;}
.pop-information.detail{margin-left: 0;}

