<style type="text/css">

    .box-title .choose_ul>li {
        width: 98px;
    }

</style>
<block name="content">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 位置</li>
        <li>用户管理</li>
        <li>代理商管理</li>
        <li>代理商列表</li>
    </ol>
    <div class="box-body">
        <form class="form-inline" method="get" action="" id="form_search" onsubmit="return X.toSerchVaild(this)">
            <div class="row" >
                <div class="form-group">
                    <label for="exampleInputName2">用户等级:</label>
                    <select class="form-control input-xs" name="dengji">
                        <option value="">——请选择——</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">状态:</label>
                    <select class="form-control input-xs" name="zhaungtai">
                        <option value="">——请选择——</option>
                        <option value="1">禁用</option>
                        <option value="2">启用</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">来源:</label>
                    <select class="form-control input-xs" name="laiyuan">
                        <option value="">——请选择——</option>
                        <option value="1">星密码</option>
                        <option value="2">创想范</option>
                        <option value="3">代理商</option>
                    </select>
                </div>
            </div>
            <div class="row" >
                <div class="form-group ">
                    <label for="exampleInputName2">选择时间范围:</label>
                    <select class="form-control input-xs" name="time">
                        <option value="">——请选择——</option>
                        <option value="1">今天</option>
                        <option value="2">最近七天</option>
                        <option value="3">最近一个月</option>
                        <option value="4">自定义</option>
                    </select>
                </div>
                <div class="form-group Time" style="display: none">
                    <input type="text"  name="startTime" class="form-control input-xs" onClick="WdatePicker()" value="{:I('get.startTime')}"  placeholder="开始时间">
                </div>
                <div class="form-group Time" style="display: none">
                    <input type="text"  name="endTime" class="form-control input-xs" onClick="WdatePicker()" value="{:I('get.endTime')}"  placeholder="结束时间">
                </div>

                <div class="form-group ">
                    <label for="exampleInputName2">搜索条件:</label>
                    <select class="form-control input-xs" name="order_search">
                        <option value="">——请选择——</option>
                        <option value="1">邮箱</option>
                        <option value="2">昵称</option>
                        <option value="3">手机号</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" {:xeq(I('get.order_search'),'','disabled')} name="search_word" class="form-control input-xs" value="{:I('get.search_word')}"  placeholder="请填写具体的搜索条件">
                </div>
                <div class="form-group">
                    <input type="submit"  class="btn btn-block btn-warning btn-xs" value="搜索">
                    <input type="hidden" name="is_close" value="1" id="is_close" >
                    <input type="hidden" name="is_cus" value="1" id="is_cus">
                </div>
            </div>
        </form>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>开通时间</th>
                    <th>邮箱</th>
                    <th>昵称</th>
                    <th>等级</th>
                    <th>购买账号总数</th>
                    <th>实收总金额</th>
                    <th>操作</th>
                </tr>
            <volist name="datas.list" id="vo">
                <tr>
                    <td>{$vo.addtime}</td>
                    <td>{$vo.email}</td>
                    <td>{$vo.usernick}</td>
                    <td>{$vo.leavel}</td> 
                    <td>{$vo.buy_account_num}</td> 
                    <td>{$vo.receiver_money}</td>      
                    <td><a href="{:U('user/actingDetail',array('id'=>$vo['id'],'username'=>$vo['user_account']))}" class="fqy_gysLook">销售详情</a></td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <div class="left" >
            <form class="form-inline" id="pagesizeForm" action="{:U(ACTION_NAME, I('get.'))}" method="get">
                <div class="form-group">
                    <label for="exampleInputName2">全选结果页: </label>
                    <input type="checkbox" id="selectall"  value="">
                </div>
                <div class="form-group">
                    <select name="pagesize" class="form-control input-xs pagesize">
                        <option {:xeq(I('get.pagesize'), 20, 'selected')} value="20">20条</option>
                        <option {:xeq(I('get.pagesize'), 50, 'selected')} value="50">50条</option>
                        <option {:xeq(I('get.pagesize'), 100, 'selected')} value="100">100条</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="right">
            <div class="pagination">
                {$datas.page}
            </div>
        </div>
    </div>
</div>
</block>
<script>
    $('select[name="order_search"]').change(function (event) {
        /* Act on the event */
        if ('' == $(this).val()) {
            $('input[name="search_word"]').attr('disabled', true);
            $('input[name="search_word"]').val('');
        }
        else {
            $('input[name="search_word"]').removeAttr('disabled');
        }
    });
   //    选择自定义时间 显示隐藏
    $('select').change(function () {
        var val = $(this).find("option:selected").val();
        if (val == 4) {
            $(this).parent('.form-group ').nextAll('.Time').show();
        } else {
            $(this).parent('.form-group ').nextAll('.Time').hide();
        }
    });
</script>           