<block name="headerCss">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/bootstrap-datetimepicker.min.css"></block>
<div class="box box-warning">
    <div class="box-header with-border">
        <div class="box-title">
            <ul class="choose_ul">
                <li>
                    <a class="{:xeq(I('get.group_id',1),1,'btn btn-warning btn-xs')}" href="{:U('order/orderManger',array('group_id' =>1 ))}" >所有售后</a>
                </li>
                <li>
                    <a class="{:xeq(I('get.group_id'),2,'btn btn-warning btn-xs')}" href="{:U('order/orderManger',array('group_id' =>2 ))}">待确认</a>
                </li>
                <li>
                    <a class="{:xeq(I('get.group_id'),3,'btn btn-warning btn-xs')}" href="{:U('order/orderManger',array('group_id' =>3 ))}">待收货</a>
                </li>
                <li>
                    <a class="{:xeq(I('get.group_id'),4,'btn btn-warning btn-xs')}" href="{:U('order/orderManger',array('group_id' =>4 ))}">待审核</a>
                </li>
                <li>
                    <a class="{:xeq(I('get.group_id'),5,'btn btn-warning btn-xs')}" href="{:U('order/orderManger',array('group_id' =>5 ))}">已完成</a>
                </li>
                <li>
                    <a class="{:xeq(I('get.group_id'),6,'btn btn-warning btn-xs')}" href="{:U('order/orderManger',array('group_id' =>6 ))}">已拒绝</a>
                </li>
            </ul>
        </div>
        <div class="box-tools pull-left"></div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row" >
            <form class="form-inline" action="{:U('order/orderManger',$mp)}" method="get">
                <div class="form-group">
                    <label for="exampleInputName2">仓库名称:</label>
                    <select class="form-control input-xs" name="depot">
                        <option value="">选择仓库</option>
                        <volist name="depot" id="depot">
                            <option {:xeq(I('get.depot'),$depot['id'],'selected')} value="{$depot.id}">{$depot.depot_name}</option>
                        </volist>
                    </select>
                </div>
                <div class="form-group ">
                    <label for="exampleInputName2">分销商:</label>
                    <input type="text" class="form-control input-xs" name="buyer_name" value="{:I('get.buyer_name')}"></div>
                <div class="form-group ">
                    <label for="exampleInputName2">售后理由:</label>
                    <select class="form-control input-xs" name="refund_reason">
                        <option value="">全部</option>
                        <option {:xeq(I('get.refund_reason'),1,'selected')} value="1" >七天无理由</option>
                        <option {:xeq(I('get.refund_reason'),2,'selected')} value="2" >质量问题</option>
                        <option {:xeq(I('get.refund_reason'),3,'selected')} value="3" >其他原因</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label for="exampleInputName2">售后类别:</label>
                    <select class="form-control input-xs" name="cus_type">
                        <option  value="">全部</option>
                        <option {:xeq(I('get.cus_type'),2,'selected')}  value="2" >退款</option>
                        <option {:xeq(I('get.cus_type'),1,'selected')} value="1" >退货退款</option>
                    </select>
                </div>
                <div class="row" >
                    <div class="form-group">
                        <label>申请时间:</label>
                        <input type="text" class="form-control input-xs" value="{:I('get.startTime')}" placeholder="开始时间" id="startTime" name="startTime"></div>
                    <div class="form-group">
                        <label>结束时间:</label>
                        <input type="text" class="form-control input-xs" value="{:I('get.endTime')}" placeholder="结束时间" id="endTime" name="endTime"></div>
                    <div class="form-group ">
                        <label for="exampleInputName2">选择来源:</label>
                        <select class="form-control input-xs" name="shop_id">
                            <option value="">全部</option>
                            <option {:xeq(I('get.shop_id'),1,'selected')} value="1" >星密码</option>
                            <option {:xeq(I('get.shop_id'),2,'selected')} value="2" >创想范</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control input-xs" name="cus_order_search" >
                            <option value="">选择关键字</option>
                            <option {:xeq(I('get.cus_order_search'),'id','selected')} value="id">售后单号</option>
                            <option {:xeq(I('get.cus_order_search'),'cus_order_list.receiver_name','selected')} value="cus_order_list.receiver_name">收件人姓名</option>
                            <option {:xeq(I('get.cus_order_search'),'receiver_mobile','selected')} value="receiver_mobile">收件人电话</option>
                            <option {:xeq(I('get.cus_order_search'),'cus_order_list.shipping_code','selected')} value="cus_order_list.shipping_code">退货物流单号</option>
                            <option {:xeq(I('get.cus_order_search'),'buyer_goods_no','selected')} value="buyer_goods_no">商家编码</option>
                            <option {:xeq(I('get.cus_order_search'),'goods_list.goods_no','selected')} value ="goods_list.goods_no"> 商品ID</option>
                            <option {:xeq(I('get.cus_order_search'),'cus_order_list.order_sn','selected')} value="cus_order_list.order_sn">订单号</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="search_word" {:xeq(I('get.cus_order_search'),'','disabled')}  class="form-control input-xs" value="{:I('get.search_word')}"  placeholder="商品名称、货号、收件人姓名、电话"></div>
                    <div class="form-group">
                        <input type="submit"  class="btn btn-block btn-warning btn-xs" value="搜索"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">&nbsp;</h3>
        <div class="box-tools">
            <div class="input-group order ">
                <ul>
                    <switch name="Think.get.group_id">
                    <case value='1'>
                        <li>
                            <a href="javascript:" class="btn btn-default btn-xs cusConfirm">确认</a>
                        </li>
                        <li>
                            <a href="javascript:"  class="btn btn-default btn-xs cusReceiv">收货</a>
                        </li>
                        <!--<li>
                                 <a href="javascript:" class="btn btn-default btn-xs audit">审核</a>
                        </li> -->
                        <li>
                            <a href="javascript:" class="btn btn-default btn-xs cusCancel">拒绝</a>
                        </li>
                    </case>
                    <case value='2'>
                        <li>
                            <a href="javascript:" class="btn btn-default btn-xs cusConfirm">确认</a>
                        </li>
                        <li>
                            <a href="javascript:" class="btn btn-default btn-xs cusCancel">拒绝</a>
                        </li>
                    </case>
                    <case value='3'>
                        <li>
                            <a href="javascript:"  class="btn btn-default btn-xs cusReceiv">收货</a>
                        </li>
                        <li>
                            <a href="javascript:" class="btn btn-default btn-xs cusCancel">拒绝</a>
                        </li>
                    </case>
                    <case value='4'>
                        <!-- <li>
                                <a href="javascript:" class="btn btn-default btn-xs audit">审核</a>
                        </li> -->
                        <li>
                            <a href="javascript:" class="btn btn-default btn-xs cusCancel">拒绝</a>
                        </li>
                    </case>
                    <case value='5'></case>
                    <case value='6'></case>
                    <default />
                    <li>
                        <a href="javascript:" class="btn btn-default btn-xs cusConfirm">确认</a>
                    </li>
                    <li>
                        <a href="javascript:" class="btn btn-default btn-xs cusReceiv">收货</a>
                    </li>
                    <!--<li>
                            <a href="javascript:" class="btn btn-default btn-xs audit">审核</a>
                    </li>-->
                    <li>
                        <a href="javascript:" class="btn btn-default btn-xs cusCancel">拒绝</a>
                    </li>
                    </switch>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th align="middle">
                        <input type="checkbox" id="checkAll"></th>
                    <th>售后单号</th>
                    <th>售后时间</th>
                    <th>订单号</th>
            <eq name="Think.get.group_id" value="4">
            <th>订单金额</th>
            <th>退货金额</th>
            </eq >
            <th>分销商账号</th>
            <th>联系方式</th>
            <neq name="Think.get.group_id" value="4">
            <th>收件人姓名</th>
            <th>收件人电话</th>
            </neq>
            <th>售后类别</th>
            <th>售后理由</th>
            <th width="100" style="word-break:break-all">售后留言</th>
            <eq name="Think.get.group_id" value="4">
            <th>验货结果</th>
            <else/>
            <th>退货物流单号</th>
            <th>商品ID</th>
            <th>商家编码</th>
            </eq>
            <th>售后状态</th>
            <th>操作</th>
            </tr>
            <volist name='datas.list' id='list'>
                <tr>
                    <td>
                        <input type="checkbox" class="choose" name="cus_order_id[]" value="{$list.cus_order_id}"></td>
                    <td>{$list.cus_order_id}</td>
                    <td><?= date('Y-m-d H:i',$list['addtime']) ?></td>
                    <td><a target="_blank" href="{:U('Order/orderDetail',array('order_id'=>$list['order_id'],'cus_id'=>$list['id']))}">{$list.order_sn}</td>
                <eq name="Think.get.group_id" value="4">

                <td>{$list.order_amount}</td>
                <td>{$list.refund_amount}</td>

                </eq>
                <td>{$list.buyer_name}</td>
                <td>
                    <p>QQ:{$list.qq}</p>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$list.distributors_qq}&site=qq&menu=yes">
                        <img border="0" src="__STATIC__/home/images/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息"/>
                    </a>
                </td>
                <neq name="Think.get.group_id" value="4">
                <td>{$list.receiver_name}</td>
                <td>{$list.receiver_mobile}</td>
                </neq>
                <td>
                    <switch name="list.cus_type">
                <case value='1'>退款退货</case>
                <case value='2'>退款</case>
                </switch>
                </td>
                <td>
                    <switch name="list.refund_reason">
                <case value='1'>七天无理由</case>
                <case value='2'>质量问题</case>
                <case value='3'>其他原因</case>
                </switch>
                </td>
                <td>{$list.remark}</td>
                <eq name="Think.get.group_id" value="4">
                <td>
                    <switch name="list.cus_goods_statu">
                <case value="1">商品完整</case>
                <case value="2">商品异常</case>
                </switch>
                <switch name="list.responsible">
                <case value="1">,仓库</case>
                <case value="2">,物流</case>
                <case value="3">,消费者</case>
                </switch>
                <php>
                    $damaged =  unserialize($list['damaged']);
                    foreach($damaged as $k=>$v){
                    echo ','.$v;
                    }
                </php>
                </td>
                <else/>
                <td>{$list.shipping_code}</td>
                <td>{$list.goods_no}</td>
                <td>{$list.cus_goods_no}</td>
                </eq>
                <td>
                    <switch name="list.status">
                <case value='0'>待确认</case>
                <case value='1'>待收货</case>
                <case value='2'>已拒绝</case>
                <case value='3'>待审核</case>
                <case value='4'>已完成</case>
                <case value='5'>待退款</case>
                </switch>
                </td>
                <td >

                    <p>
                        <a href="{:U('Order/cusOrderDetail',array('group_id'=>I('get.group_id',1),'cus_order_id'=>$list['cus_order_id']))}" target="_blank">详情</a>
                        &nbsp;
                    </p>
                    <p>
                        <switch name='list.status'>
                <case value='0'>
                    <a href="#"  data-id={$list.cus_order_id} class="oneConfirm" >确认</a>
                    <a href="#"  data-id={$list.cus_order_id} class="oneCancel" >拒绝</a>
                </case>
                <case value='1'>
                    <a href="#" data-id={$list.cus_order_id} class="cusReceiv">收货</a>
                    <a href="#"  data-id={$list.cus_order_id} class="oneCancel" >拒绝</a>
                </case>
                <case value='2'></case>
                <case value='3'>
                    <a href="#" data-id={$list.cus_order_id} data-title="{$list.order_amount}" class="audit">审核</a>
                    <a href="#"  data-id={$list.cus_order_id} class="oneCancel" >拒绝</a>
                </case>
                <case value='4'>
                    <a href="#" data-id={$list.cus_order_id} class="refund">补款</a>
                </case>
                </switch>
                </p>
                </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <div class="left" >
            <form class="form-inline" id="pagesizeForm" action="{:U(ACTION_NAME, I('get.'))}" method="get">
                <div class="form-group">
                    <label for="exampleInputName2">全选结果页:</label>
                    <input type="checkbox" id='selectall'></div>
                <div class="form-group">
                    <select name="pagesize" class="form-control input-xs pagesize">
                        <option {:xeq(I('get.pagesize'), 20, 'selected')} value="20">20条</option>
                        <option {:xeq(I('get.pagesize'), 50, 'selected')} value="50">50条</option>
                        <option {:xeq(I('get.pagesize'), 100, 'selected')} value="100">100条</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="right">
            <div class="pagination">{$datas.page}</div>
        </div>
    </div>
</div>
</section>
<!-- /.box -->
</div>
</block>
<block name="footerJs">
    <script type="text/javascript" src="__STATIC__/home/js/moment.js"></script>
    <script src="__STATIC__/home/js/bootstrap-datetimepicker.min.js"></script>
    <script src="__STATIC__/home/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
    <script src="__STATIC__/home/js/custom.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.pagesize').change(function () {
                $('#pagesizeForm').submit();
            });


            $('select[name="cus_order_search"]').change(function (event) {
                /* Act on the event */
                if ('' == $(this).val()) {
                    $('input[name="search_word"]').attr('disabled', true);
                    $('input[name="search_word"]').val('');
                } else {
                    $('input[name="search_word"]').removeAttr('disabled');
                }
            });

            //单个订单确认
            $('.oneConfirm').click(function () {
                var cus_order_id = new Array();
                cus_order_id.push($(this).data('id'));
                layer.confirm('是否确认已选售后单', {title: '订单确认', btn: ['确认', '取消']}, function (index) {
                    $.post("{:U('order/cusConfirmOrder')}", {cus_order_id: cus_order_id}, function (result) {
                        if (result.status == 'ok') {
                            layer.confirm("操作成功", {
                                btn: ['确定']
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            layer.confirm('有不能操作的售后单' + result.status + '条', {
                                btn: ['确定']
                            }, function () {
                                window.location.reload();
                            });
                        }

                    });
                });
            });

            //批量订单确认
            $('.cusConfirm').click(function () {
                if ($('.choose:checked').serialize() || $("#selectall").is(':checked')) {
                    layer.confirm('是否确认已选售后单', {title: '订单确认', btn: ['确认', '取消']}, function (index) {
                        var data
                        if ($("#selectall").is(':checked') == true) {
                            data = {type: 'all'};
                        } else {
                            data = $('.choose:checked').serialize();
                        }
                        var urlPost = "{:U('order/cusConfirmOrder',I('get.'))}";
                        $.post(urlPost, data, function (result) {
                            if (result.status == 'ok') {
                                //layer.msg('操作成功',{time:1000});
                                layer.alert(result.content, {btn: ['确定']}, function () {
                                    layer.close();
                                    window.location.reload();
                                })
                            } else {
                                //layer.msg('有不能操作的订单'+result.status+'条',{time:1000})
                                layer.alert(result.content, {btn: ['确定']}, function () {
                                    layer.close();
                                    window.location.reload();
                                });

                            }
                        });
                    },
                            function () {

                            }
                    )
                } else {
                    layer.alert('请选择要操作的售后单');
                }
            })

            //单个售后订单拒绝
            $('.oneCancel').click(function () {
                var cus_order_id = new Array();
                cus_order_id.push($(this).data('id'));
                layer.confirm('确定要拒绝客户售后申请？', {title: '提醒', btn: ['确认', '取消']}, function (index) {
                    $.post("{:U('order/cusCancelOrder')}", {cus_order_id: cus_order_id}, function (result) {
//                        console.log(result);
                        if (result.status == 'ok') {
                            //layer.msg('操作成功',{time:1000});
                            layer.alert(result.content, {btn: ['确定']}, function () {
                                layer.close();
                                window.location.reload();
                            })
                        } else {
                            //layer.msg('有不能操作的订单'+result.status+'条',{time:1000})
                            layer.alert(result.content, {btn: ['确定']}, function () {
                                layer.close();
                                window.location.reload();
                            })
                        }
                    });
                })
            })

            //批量售后订单拒绝
            $('.cusCancel').click(function () {
                if ($('.choose:checked').serialize() || $("#selectall").is(':checked')) {
                    layer.confirm('确定要拒绝客户售后申请？', {title: '提醒', btn: ['确认', '取消']}, function (index) {
                        var data
                        if ($("#selectall").is(':checked') == true) {
                            data = {type: 'all'};
                        } else {
                            data = $('.choose:checked').serialize();
                        }
                        var urlPost = "{:U('order/cusCancelOrder',I('get.'))}";
                        $.post(urlPost, data, function (result) {
                            if (result.status == 'ok') {
                                layer.confirm(result.content, {
                                    btn: ['确定']
                                }, function () {
                                    window.location.reload();
                                });
                            } else {
                                layer.alert(result.content, function () {
                                    window.location.reload();
                                });
                            }
                        });
                    },
                            function () {

                            }
                    )
                } else {
                    layer.alert('请选择要操作的售后单');
                }
            })

            //售后订单收货
            $('.cusReceiv').click(function () {
                var cus_order_val = $(this).data('id');
                if ($('.choose:checked').serialize() || cus_order_val) {
                    var str = "<h4>请选择验证结果</h4>";
                    str += "<select name='cus_goods_statu' id='cus_goods_statu'>";
                    str += "<option value=''>请选择验证结果</option>";
                    str += "<option value='1'>商品完整</option>";
                    str += "<option value='2'>商品异常</option>";
                    str += "</select>";
                    str += "<div id='excep' style='display:none'><h4>选择责任方</h4>";
                    str += "<select id='user'>";
                    str += "<option value=''>请选择责任方</option>";
                    str += "<option value='1'>仓库</option>";
                    str += "<option value='2'>快递物流公司</option>";
                    str += "<option value='3'>消费者</option>";
                    str += "</select>";
                    str += "<div class='row'><input type='checkbox' value='1' class='ckbox'>已洗涤 ";
                    str += "<input type='checkbox' value='2' class='ckbox'>缺吊牌";
                    str += "<input type='checkbox' value='3' class='ckbox'>破损";
                    str += "<input type='checkbox' value='4' class='ckbox'>其他"
                    str += "<input type='text' value='' id='other' ></div></div>";
                    layer.confirm(str,
                            {title: '提醒', btn: ['确认', '取消'], area: ['300px', '300px']},
                            function (index) {
                                var id = new Array();
                                var ckbox = new Array();
                                if ($('.choose:checked').serialize()) {
                                    $('.choose:checked').each(function () {
                                        id.push($(this).val());
                                    })
                                } else if (cus_order_val) {
                                    id.push(cus_order_val);
                                }
                                $('.ckbox:checked').each(function () {
                                    ckbox.push($(this).val());
                                })
                                $.post("{:U('order/cusReceivOrder')}",
                                        {
                                            'order_id': id,
                                            'cus_goods_statu': $('#cus_goods_statu option:selected').val(),
                                            'other': $('#other').val(),
                                            'ckbox': ckbox,
                                            'user': $('#user option:selected').val(),
                                        },
                                        function (result) {
//                                            console.log(result);
                                            if (result.status == 'ok') {
                                                layer.alert('操作成功!', function () {
                                                    layer.close(index);
                                                    window.location.reload();
                                                });
                                            } else {
                                                layer.alert('操作失败', function () {
                                                    layer.close(index);
                                                    window.location.reload();
                                                });
                                            }
                                        }
                                );

                            }
                    );

                    $('#cus_goods_statu').change(function () {
                        var attr = $('#cus_goods_statu option:selected').val();
                        if (attr == '1') {
                            $('#excep').css('display', 'none');
                        } else {
                            $('#excep').css('display', 'block');
                        }

                    });

                } else {
                    layer.alert('请选择要操作的售后单');
                }
            });

            //售后订单审核
            $(".audit").click(function () {
                var cus_order_val = $(this).data('id');
                if ($('.choose:checked').val()) {
                    var cus_order_id = $('.choose:checked').val();
                } else if (cus_order_val) {
                    var cus_order_id = cus_order_val;
                }
                if ($('.choose:checked').serialize() || cus_order_val) {
                    $.post("{:U('order/getRefundAmount')}", {cus_order_id: cus_order_id}, function (result) {
//                        console.log(result);
                        var str = "<label for='exampleInputName2'>退款金额:</label>";
                        str += "<div class='form-group'><input type='text' id='refund_amount' class='form-control input-xs' value='" + result.returnData.refund_amount + "'>";
                        str += "<span style='color: red;font-size: 10px'>退款金额不能大于" + result.returnData.pay_amount + "</span></div>";
                        layer.confirm(str, {title: '提醒', btn: ['确认', '取消'], area: ['200px', '250px']}, function (index) {
                            var pay_amount = result.returnData.pay_amount;
                            var refund_amount = result.returnData.refund_amount;
                            /**检验输入框值是否为数字*/
                            if (isNaN($('#refund_amount').val())) {
                                layer.tips('请输入数字金额', "#refund_amount", {
                                    tips: [3, '#3595CC'],
                                    time: 4000
                                });
                                $('#refund_amount').val(refund_amount);
                                return false;
                            }
                            if (parseFloat($('#refund_amount').val()) > parseFloat(pay_amount)) {
                                layer.tips('退款失败,退款金额不能大于订单金额', '#refund_amount', {
                                    tips: [3, '#3595CC'],
                                    time: 4000
                                });
                                return false;
                            }
                            if ($('#refund_amount').val() == '') {
                                layer.tips('请输入退款金额', '#refund_amount', {
                                    tips: [3, '#3595CC'],
                                    time: 4000
                                });
                                return false;
                            }
                            $.post("{:U('order/cusAudit')}", {
                                cus_order_id: cus_order_id,
                                refund_amount: $('#refund_amount').val()
                            }, function (data) {
//                                console.log(data);
                                if (data.status) {
                                    layer.alert(data.message, {icon: 6}, function () {
                                        layer.close(index);
                                        window.location.reload();
                                    });
                                } else {
                                    layer.alert(data.message)
                                    layer.close(index);
                                }
                            });
                        });
                    });
                } else {
                    layer.alert('请选择要操作的售后单');
                }
            });
            // 售后订单补款
            $('.refund').click(function () {
                var cus_order_val = $(this).data('id');
                if ($('.choose:checked').val()) {
                    var cus_order_id = $('.choose:checked').val();
                } else if (cus_order_val) {
                    var cus_order_id = cus_order_val;
                }
                if ($(".choose:checked").serialize() || cus_order_val) {
                    $.post("{:U('order/getBuyerInfo')}", {cus_order_id: cus_order_id}, function (result) {
                        if (result) {
                            var str = "<form class='form-inline'><div class='row'><label style='width:90px'>分销商账户:</label>";
                            str += "<div class='form-group'><input type='text' disabled='disabled' id='buyer_id' class='form-control input-xs' value='" + result.buyer_name + "'></div></div>";
                            str += "<div class='row'><label style='width:90px'>售后单号:</label>";
                            str += "<div class='form-group'><input type='text' id='cus_order_id'disabled='disabled' class='form-control input-xs' value='" + result.cus_order_id + "'></div></div>";
                            str += "<div class='row'><label style='width:90px'>转账金额:</label>";
                            str += "<div class='form-group'><input type='text' id='refund_amount' class='form-control input-xs' value=''>";
                            str += "<span id='tip_money' style='color: red; margin-left:5px;display: none'>退款金额不能大于100元!</span></div></div>";
                            str += "<div class='row'><label>备注:<label></div>";
                            str += "<textarea style='resize:none' id='remark'></textarea>";
                            str += "</form>";
                            layer.confirm(str, {title: '售后退款单', btn: ['确认', '取消'], area: ['460px', '450px']}, function (index) {
                                var money = $('#refund_amount').val();
                                if (isNaN(money)) {
                                    $("#tip_money").text('请输入数字金额');
                                    $("#tip_money").css('display', '');
                                    return false;
                                }
                                if (money > 100) {
                                    $('#tip_money').css('display', '');
//                                    console.log($('#tip_money'));
                                    return false;
                                }
                                $('#tip_money').css('display', 'none');
                                $.post("{:U('order/cusOrderRefund')}",
                                        {
                                            cus_id: result.cus_order_id,
                                            buyer_id: result.buyer_id,
                                            buyer_name: result.buyer_name,
                                            price: $('#refund_amount').val(),
                                            remark: $('#remark').val()
                                        }, function (data) {
                                    if (data.status == 1) {
                                        layer.alert(data.message, {btn: ['确定']}, function () {
                                            layer.close(index);
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.alert(data.message, {btn: ['确定']}, function () {
                                            layer.close(index);
                                            window.location.reload();
                                        });
                                    }
                                });

                            }, function () {



                            })
                        } else {
                            layer.alert('操作失败');
                        }

                    });
                } else {
                    layer.msg('请选择要操作的售后单');
                }
            });

        })
    </script>